.coupon-form {
  .discount-value .input-number-btn {
    left: 90% !important;
  }

  .steps {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

    div {
      width: 40px;
      height: 40px;
      text-align: center;
      color: #A5A6EE;
      border-radius: 50%;
      border: 1px solid #A5A6EE;
      background: #FFFFFF;
      padding: 8.296px;
    }
    
    .active {
      color: #FFFFFF;
      border: 1px solid #6365EF;
      background: #6365EF !important;
    }

    .line {
      height: 1px;
      background-color: #A5A6EE !important;
      margin: auto 0;
      width: 40%;
    }
  }

  .custom-radio-div {
    display: flex;
    width: 48%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(99, 101, 239, 0.48);
    margin-right: 0 !important;
  }

  .custom-radio-div-inline-3 {
    display: flex;
    width: 32%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(99, 101, 239, 0.48);
    margin-right: 0 !important;
  }

  .custom-radio-div-block {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(99, 101, 239, 0.48);
    margin-right: 0 !important;
  }

  input::placeholder {
    color: var(--placeholder-color);
    font-size: 16px;
    font-weight: 400;
  }
  
  label {
    color: var(--placeholder-color);
  }

  input[type='radio'] {
    appearance: none;
    margin: 0;
    font: inherit;
    color: #667085;
    width: 20px;
    height: 20px;
    border: 2px solid #667085;
    border-radius: 50%;
    display: grid;
    place-content: center;
    top: 46%;
    right: 10px;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #667085;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  .checked {
    border: none;
    border-radius: 8px;
    background: rgba(105, 112, 241, 0.10);
  }

  .total-use-number-button {
    position: absolute;
    top: 46%;
    left: 82% !important;
    display: flex;
    width: fit-content;

    .disabled{
        border-color:#868987 !important;
        color: #868987 !important;
    }

    .number-incremental{
        height: 20px;
        width: 20px;
        line-height: 15px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #00C853;
        color: #00C853;
        cursor: pointer;
        margin-left: 8px;
        margin-right: 14px;
    }
    .number-decremental{
        height: 20px;
        width: 20px;
        line-height: 15px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #D32F2F;
        color: #D32F2F;
        cursor: pointer;
    }
  }

  .use-div {
    border-radius: 10px;
    background: rgba(105, 112, 241, 0.10);
    padding: 10px;
  }

  .fill-none {
    fill: none !important;
  }

  .fill-color{
    fill: var(--table-heading-text-color);
  }

  .stroke-color{
      stroke: var(--table-heading-text-color);
  }

  .position-absolute {
    position: absolute;
    top: 36px;
    right: 10px;
  }

  .input-number-btn .total-use-number-button {
    left: 0 !important;
    right: 8px !important;
  }

  .use-div {
    .price-input {
      background: var(--card-background-color);
    }
  }

  .min-max-value {
    left: 79% !important;
  }

  .number-input-right-padding {
    padding-right: 6.5rem !important;
  }

  .flag-style {
    width: 32px;
    height: 22px;
    border-radius: 4px !important;
    margin-right: 4px;
  }
  
  .dropdown-list-input {
    .ng-select-container{
        border-color: var(--dark-right-border);
        padding-top: 0;
        padding-bottom: 0;
        height: 44px;
  
        .ng-value-container .ng-placeholder {
            top: 8px !important;
            padding-bottom: 0 !important;
            padding-left: 3px !important;
            color: var(--ng-placeholder-color) !important;
        }
       
        .ng-clear-wrapper {
            display: none !important;
        }
    }
  
    .ng-value {
        color: var(--coupon-ng-value-color) !important;
        border: none !important;
        padding: 4px 8px !important;
        border-radius: 8px !important;
        background-color: var(--coupon-ng-value-bg-color) !important;
        width: auto !important;
        // font-size: 0.781vw;
        display: flex;
        align-items: center;
  
        .ellipsis {
            max-width: 6.25vw !important;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .ng-select .right {
        border-left: none !important;
  
        &:hover {
            background-color: transparent !important;
        }
    }
  
    .ng-dropdown-panel .scroll-host {
        padding: 20px;
    }
  
    .ng-option {
        padding: 8px;
        border-radius: 8px;
        margin-bottom: 4px;
        color: rgba(31, 29, 29, 0.76);
        font-size: 12px;
        font-family: SF Pro Display;
        
        &:hover {
            background-color: var(--dropdown-hover-bg-color) !important;
        }
    }
  
    .ng-option-selected {
        background-color: #EDF1F9 !important;
        padding: 8px;
    } 
  }
}

  ::ng-deep .cdk-overlay-container { z-index: 1200 !important; }
  ::ng-deep mat-datepicker-toggle { position: relative; } 

  ::ng-deep mat-form-field {
      display: block !important;
      font-family: var(--font-family-sf-pro-display) !important;
  }

  ::ng-deep .mat-calendar, ::ng-deep .mat-button-wrapper {
      font-family: var(--font-family-sf-pro-display) !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0 !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick:hover { 
      color: none !important;
  }

  ::ng-deep .mat-form-field-infix {
      color: var(--font-color);
      border: none;
      margin-top: 4px;
      font-family: var(--font-family-sf-pro-display) !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0 !important;
      display: flex;
      align-items: center;
      border: none !important;
  }

  ::ng-deep mat-form-field {
      width: 100% !important;
      height: 42px !important;
      border-radius: 6px;
      color: var(--input-text-color) !important;
      border: 1px solid var(--input-border-color) !important;
  }

  :ng-deep .cdk-program-focused {
      background-color: transparent;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: transparent !important;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
      color: transparent !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
      color: transparent !important;
  }

  ::ng-deep .mat-button-wrapper {
      svg {
          fill: var(--modal-sub-header-text-color) !important;
      }
  }

  ::ng-deep .mat-input-element::placeholder {
      color: var(--placeholder-color) !important;
  }  
  
  ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0 !important;
  }  

  .input-width {
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
              padding: 0 !important;
          }
          
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
              flex-direction: row-reverse !important;
          }
  }

  ::ng-deep .mat-button-wrapper {
    line-height: 0 !important;
  }

.custom-search ::ng-deep .ng-placeholder::before{
  font-family: FontAwesome !important;
  content: "\f002" !important;
  margin-right: 8px !important;
  color: var(--placeholder-color);
}

.number-of-use-icon{
  position: absolute;
  border-right: 1px solid var(--input-border-color);
  height: 37px;
  width: 38px;
  text-align: center;
  line-height: 36px;
  color: var(--modal-sub-header-text-color) !important;
}