.multi-color-border {
    position: relative;
    margin-bottom: 20px;
}

.multi-color-border::after{
    content: '';
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(99, 101, 239, 1) 0%,rgba(99, 101, 239, 1) 25%, var(--dark-multi-color-border) 25%,var(--dark-multi-color-border) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.nav-lang-container {
    .lang-dropdown-option {
        position: absolute;
        left: -58px;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        .lang-dropdown-item {
            color: #000 ;
            padding-top: 10px;
            padding-bottom: 10px;
            &:hover {
                background-color: #E37134;
            }
        }
        .lang-dropdown-item-active {
            background-color: #E37134;
        }
    }
}

.lang-dropdown-option {
    box-shadow: var(--box-shadow-size-color);;
    width: 370px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    transform: translate(-25px, 50px) !important;
    background-color: var(--card-background-color) !important;
    .lang-dropdown-item {
        color: var(--table-heading-text-color);
        padding: 10px 15px;
    }
    .dropdown-item {
        &:hover {
            background-color: var(--hover-bg-color) !important;
        }
    }
    .lang-dropdown-item-active {
        color: #fff;
    }
}

.lang-dropdown {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 5px 0px !important;
    padding-left: 0px !important;
    color: var(--table-heading-text-color);
    text-decoration: none;
    .fa-angle-down {
        color: rgba(99, 101, 239, 1);
    }
}

// .apexcharts-tooltip {
//     background: #f3f3f3;
//     color: var(--font-color) !important;
// }
button {
    background: #fff;
    color: #222;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 4px 17px;
  }
  
  button.active {
    color: #fff;
    background: #008ffb;
    border: 1px solid blue;
    border-bottom: 2px solid blue;
  }
  
  button:focus {
    outline: 0;
  }
  


// ::ng-deep mat-form-field{
//     //custom css
//     display: none !important;
// } 

// ::ng-deep .cdk-overlay-pane {
//     top: 274px !important;
//     left: 260px !important;
// }

::ng-deep mat-form-field {
    display: block !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
}

::ng-deep .mat-form-field-type-mat-date-range-input .mat-form-field-infix {
    // width: 100% !important;
    height: 50px !important;
    color: var(--font-color);
    border: none;
    margin-top: 6px;
    font-family: var(--font-family-sf-pro-display);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 !important;
    display: flex;
    align-items: center;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end, ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border: none !important;
}

.mat-datepicker-toggle .mat-icon-button {
    background-color: yellow;
}

.mat-calendar {
    background-color: lightgreen;
}
