<div class="es-modal">
    <div class="modal-header-flex">
        <div class="modal-header-text-container">
            <p class="modal-header-text mb-0">{{title}}</p>
        </div>
        <div class="es-btn-close-container me-4">
            <a class="es-btn-close mt-3" (click)="close()"></a>
        </div>
    </div>
    <div class="es-modal-body">
        <div class="success-error-img-div">
            <img class="img-fluid" [src]="title === 'Success'?'/assets/images/modal/success-image.png' : '/assets/images/modal/error-image.png'" alt="">
        </div>
        <div class="text-center">
            <p class="success-error-text">{{body}}</p>
        </div>
    </div>
    <div class="es-modal-footer"></div>
</div>

