
.modal-content {
    background-color: var(--dark-background) !important;
    border-radius: 8px !important;

    .es-modal{
        .modal-header-flex{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding: 10px 15px;
            // .modal-header-text-container{
            //     .modal-header-text{
            //         color: var(--dark-text-white-v1);
            //         font-size: 18px;
            //         font-weight: 600;
            //     }
            //     .modal-sub-header-text{
            //         margin-top: 5px;
            //         color: var(--dark-modal-sub-header);
            //     }

            // }
            .es-btn-close-container{
                .es-btn-close{
                    width: 32px;
                    height: 32px;
                    position: absolute;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                    &:before, &:after {
                        position: absolute;
                        left: 10px;
                        content: ' ';
                        height: 17px;
                        width: 2px;
                        background-color: var(--font-color);
                    }
                    &:before {
                        transform: rotate(45deg);
                    }
                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .modal-header-text{
            color: var(--font-color);
            font-size: 18px;
            font-weight: 600;
        }

        .modal-sub-header-text{
            margin-top: 5px;
            color: var(--dark-modal-sub-header);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }
        .es-modal-body{
            margin-top: 16px;
            .es-modal-form{
                .es-modal-form-label{
                    color: var(--font-color);
                    font-size: 16px;
                    font-weight: 600;
                }
                .es-input{
                    background-color: transparent;
                    color: var(--font-color);
                    border: 1px solid var(--dark-modal-input-border);
                }
                input:-internal-autofill-selected {
                    appearance: menulist-button;
                    background-image: none !important;
                    background-color:none !important;
                    color: fieldtext !important;
                }
                // .ng-select-container{
                //     padding: 10px 0px;
                //     background: transparent;
                //     height: 40px;
                //     width: 100%;
                //     color: var(--dark-text-white-v6);
                //     border: none;
                //     border: 1px solid rgba(99, 101, 239, 0.48);
                //     input{
                //         color: transparent;
                //     }
                //     .ng-arrow {
                //         transform: rotate(-90deg);
                //         border-color: rgba(99, 101, 239, 0.48) transparent transparent;
                //     }
                // }
                .ng-dropdown-panel{
                    margin-top: 10px;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                    border-radius: 4px;
                    border: none;
                    background: var(--dark-background);
                    .ng-option{
                        padding: 10px 10px 10px 30px;
                        background: var(--dark-background);
                        width: 160px;
                        color: var(--dark-text-white-v6);
                    }
                }
                option{
                    color: black !important;
                }
            }
            .success-error-heading{
                color: var(--font-color);
            }
            .success-error-text{
                color: var(--font-color);
            }
        }
    }
}

.select-bg{
    background-color: var(--dark-background) !important;
    color: var(--dark-text-white-v2) !important;
}

.has-backdrop{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.7);
}
.btn-primary{
    background-color: var(--dark-theme-blue-v1) !important;
}

.add-icon{
    background: var(--dark-primary-background);
    border: 8px solid var(--dark-primary-border);
    border-radius: 28px;
    width: 56px;
    svg{
        transform: scale(2);
    }
}
.edit-icon{
    background: var(--dark-info-background);
    border: 8px solid var(--dark-info-border);
    border-radius: 28px;
    width: 56px;
    svg{
        transform: scale(2);
    }
}

// .info-modal{
    
//     .btn{
//         height: 44px;
//         width: 170px;
//         border: none;
//         font-size: 16px;
//         line-height: 24px;
//         font-weight: 600;
//     }

//     .btn:hover {
//         color: var(--dark-text-white-v1);
//         border: var(--dark-secondary-btn-border) solid #D0D5DD;
//     }

//     .btn:first-child:active {
//         color: var(--dark-text-white-v1);
//     }

//     .btn-secondary:hover{
//         background: var(--dark-secondary-btn-background);
//     }

//     .btn:first-child:active{
//         background: var(--dark-secondary-btn-background);
//     }

//     .btn-secondary{
//         background: var(--dark-secondary-btn-background);
//         color: var(--dark-text-white-v1);
//         border: var(--dark-secondary-btn-border) solid #D0D5DD;
//     }
// }
