@font-face{
    font-family: "Helvetica";
    src: url("/assets/fonts/helvetica-font/HelveticaNeue.ttf");
}
@font-face{
    font-family: "Helvetica-Light";
    src: url("/assets/fonts/helvetica-font/HelveticaNeueLt.ttf");
}
@font-face{
    font-family: "Helvetica-Medium";
    src: url("/assets/fonts/helvetica-font/HelveticaNeueMedium.ttf");
}
@font-face{
    font-family: "Helvetica-Thin";
    src: url("/assets/fonts/helvetica-font/HelveticaNeueThin.ttf");
}