.main{
    background: var(--dark-background-v1);
    padding: 39px 21px;
}
.main::-webkit-scrollbar {
    display: none;
}
.main::-webkit-scrollbar-track {
    display: none;
}
.main-base-container{
    display: flex;
    // height: calc(100vh - 72px);
    height: calc(100vh - 93px);
    &::-webkit-scrollbar {
        display: none;
    }
    .sidebar-main{
        // width: 256px;
        width: 289px;
        padding-left:15px;

        .sidebar-brand-parent{
            width: 289px;
            padding: 28px 35px;
            .brand-logo{
                height: 42px;
            }
        }
        .sidebar-inner{
            height: calc(100vh - 70px);
            border-radius: var(--dark-sidebar-border-radius);
            // padding: 14px 10px;
            .sidebar-anchor-tab{
                text-decoration: none;
                // margin-top: 10px;
                margin: 0 16px;
                display: block;
                .sidebar-anchor-tab-flex{
                    border-radius: 10px;
                    padding: 14px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    .sidebar-anchor-tab-flex-img-container{
                        .sidebar-anchor-tab-flex-img{
                            width: 20px;
                            // margin-right: 20px;
                        }
                    }
                    .sidebar-anchor-tab-flex-text-container{
                        .sidebar-anchor-tab-flex-text{
                            margin-bottom: 0px !important;
                            color: var(--dark-text-white-v2);
                            margin-left: 20px;
                        }
                    }
                }
                &:hover{
                    .sidebar-anchor-tab-flex{
                        background-color: initial;
                        // transition: .4s ease-in-out;
                        .sidebar-anchor-tab-flex-text-container{
                            .sidebar-anchor-tab-flex-text{
                                margin-bottom: 0px !important;
                                color: var(--dark-text-white-v2);
                            }
                        }
                    }
                    
                    
                }
            }
            // .sidebar-anchor-tab.active{
            //     .sidebar-anchor-tab-flex{
            //         background-color: var(--dark-theme-blue-v1);
            //         transition: .4s ease-in-out;
            //         .sidebar-anchor-tab-flex-text-container{
            //             .sidebar-anchor-tab-flex-text{
            //                 margin-bottom: 0px !important;
            //                 color: var(--dark-background);
            //             }
            //         }
            //     }
            // }
        }
        .sidebar-inner-1{
            background: var(--dark-background);
            border-right: 1px solid var(--dark-right-border);
        }
        

       

        .sidebar-inner-2{
           
           .sidebar-left{
               display: flex;
               flex-direction: column;
               align-items: center;
           }
        }   

    }
    .dashboard-main{
        flex: 1;
        padding: 0 20px;
    }
    .main-overflow-scroll{
        max-height: calc(100vh - 120px);
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .dashboard-main::-webkit-scrollbar {
        display: none;
    }
    
    /* background of the scrollbar except button or resizer */
    .dashboard-main::-webkit-scrollbar-track {
        display: none;
    }
}

.user-dashboard{
    .dashboard-head-flex{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .dashboard-head-text{
            color: var(--dark-text-white-v1);
            margin-bottom: 0;
        }
        .btn-dashboard-head{
            color: var(--dark-theme-blue-v1);
            background-color: var(--dark-background);
            border: 1px solid var(--dark-theme-blue-v1);
        }
    }
    .t-grid-table-new {
        @media screen and (max-width: 1500px) {
            min-width: 470px;
        }
        .t-body-overflow {
            overflow: auto;
            height: calc(95vh - 200px);
            padding-top: 10px;
            overflow-x: hidden;
        }
        .t-grid-table-wrapper {
            display: grid;
            grid-template-columns: 2fr 2fr 175px;
        }
        .t-box {
            padding: 14px 0;
            padding-left: .5rem !important;
            width: 100%;
            justify-content: center;
            color: var(--dark-text-white-v1);
            // overflow: auto;
        }
        .t-body-bg{
            .t-box{
                color: var(--dark-text-white-v2);
            }
        }
        .bg-body-table-dark-bg{
            background-color: var(--dark-background-v2);
            border-radius: 8px;
        }
        .user-table-action{
            display: flex;
            align-items: center;
            .user-table-action-icon{
                width: 15px;
                margin-right: 25px;
                cursor: pointer;
            }
        }
        
    }
}
.subscriber-management{
    .dashboard-head-flex{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .dashboard-head-text{
            font-size: 1.36vw;
            font-family: "SF Pro Display Italic";
            color: var(--dark-text-white-v1);
            margin-bottom: 0;
        }
        .btn-dashboard-head{
            color: #fff;
            background-color: #6365EF;
            border-radius: 25px;
            padding: 4px 26px;
            height: 50px;
            .btn-add-icon{
                background: #fff;
                color: #6365EF;
                height: 20px;
                width: 20px;
                line-height: 17px;
                border-radius: 50%;
            }
        }
    }
    .t-grid-table-new {
        @media screen and (max-width: 1500px) {
            min-width: 470px;
        }
        .t-body-overflow {
            overflow: auto;
            height: calc(95vh - 200px);
            padding-top: 10px;
            overflow-x: hidden;
        }
        .t-grid-table-wrapper {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
            // grid-gap: 1;
        }
        .table-headers{
            font-size: 20px;
            path{
                &:not(.color-stroke){
                    fill: var(--dark-text-white-v1);
                }
                &.color-stroke{
                    stroke: var(--dark-text-white-v1);
                }
            }
        }
        .t-box{
            padding: 14px 0;
            padding-left: .5rem !important;
            width: 100%;
            justify-content: center;
            text-align: center;
            color: var(--dark-text-white-v1);
            &:first-child{
                text-align: start;
                justify-content: flex-start;
            }
            .subscription-info-icon{
                width: 45px;
                cursor: pointer;
            }
            .scale-1-3{
                transform: scale(1.3);
            }
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            height: 70px;
        }
        .t-body-bg{
            .t-box{
                color: var(--dark-text-white-v5);
                opacity: 1;
                overflow: hidden;
                width: 100%;
                height: 70px;
                &:not(.action-section){
                    line-height: 50px;
                }
                &.activation-code-section{
                    line-height: 1.5 !important;
                    padding: 4px 0 !important;
                }
            }
        }
        .bg-body-table-dark-bg{
            border-top: 1px dashed #636668 ;
        }
        .user-table-action{
            display: flex;
            align-items: center;
            width: 90px;
            background-color: var(--dark-background-v3);
            border-radius: 40px;
            height: 45px;
            .user-table-action-icon{
                width: 15px;
                margin-right: 25px;
                cursor: pointer;
            }
        }
    }
}


.plan-management{
    .dashboard-head-flex{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .dashboard-head-text{
            font-size: 1.36vw;
            font-family: "SF Pro Display Italic";
            color: var(--dark-text-white-v1);
            margin-bottom: 0;
        }
        .btn-dashboard-head{
            color: #fff;
            background-color: #6365EF;
            border-radius: 25px;
            padding: 4px 26px;
            height: 50px;
            .btn-add-icon{
                background: #fff;
                color: #6365EF;
                height: 20px;
                width: 20px;
                line-height: 17px;
                border-radius: 50%;
            }
        }
    }
    .t-grid-table-new {
        @media screen and (max-width: 1500px) {
            min-width: 470px;
        }
        .t-body-overflow {
            overflow: auto;
            height: calc(95vh - 200px);
            padding-top: 10px;
            overflow-x: hidden;
        }
        .t-grid-table-wrapper {
            display: grid;
            grid-template-columns: 2fr 2fr 1fr 3fr 2fr;
            // grid-gap: 1;
        }
        .table-headers{
            font-size: 20px;
            path{
                fill: var(--dark-text-white-v1);
            }
        }
        .t-box{
            padding: 14px 0;
            padding-left: .5rem !important;
            width: 100%;
            justify-content: center;
            text-align: center;
            color: var(--dark-text-white-v1);
            &:first-child{
                text-align: start;
                justify-content: flex-start;
            }
            .plan-info-icon{
                width: 45px;
                cursor: pointer;
            }
        }
        .t-body-bg{
            .t-box{
                color: var(--dark-text-white-v5);
                opacity: 1;
                overflow: hidden;
                width: 100%;
                height: 70px;
                &:not(.action-section){
                    line-height: 50px;
                }
            }
            &.expired-plan{
                .t-box:not(.action-section){ opacity: 0.55; }
            }
        }
        .bg-body-table-dark-bg{
            border-top: 1px dashed #636668 ;
        }
        .user-table-action{
            display: flex;
            align-items: center;
            width: 115px;
            background-color: var(--dark-background-v3);
            border-radius: 40px;
            height: 45px;
            .user-table-action-icon{
                width: 15px;
                margin-right: 25px;
                cursor: pointer;
            }
        }
    }
    .switch {
        margin-bottom: 0px;
        position: relative;
        display: inline-block;
        width: 27px;
        margin-top: 10px !important;
        height: 18px;
        input{
            opacity: 0;
            width: 0;
            height: 0;
        }
        .round{
            border-radius: 34px;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid var(--dark-text-white-v2);
            transition: 0.4s;
            border-radius: 10px;
            &:before {
                background: var(--dark-text-white-v2);
                position: absolute;
                content: "";
                height: 12px;
                width: 12px;
                border-radius: 50%;
                left: 2px;
                bottom: 2px;
                transition: 0.4s;
            }
        }
    }
    input:checked + .slider{
        background-color: var(--dark-primary-background);
        border: 0;
        &:before {
            transform: translateX(10px);
            background-color: var(--dark-background);
        }
    }
    .slider.round:before {
        border-radius: 50%;
    }
}
.subscription-management{
    .dashboard-head-flex{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .dashboard-head-text{
            font-size: 1.36vw;
            font-family: "SF Pro Display Italic";
            color: var(--dark-text-white-v1);
            margin-bottom: 0;
        }
        .btn-dashboard-head{
            color: #fff;
            background-color: #6365EF;
            border-radius: 25px;
            padding: 4px 26px;
            height: 50px;
            .btn-add-icon{
                background: #fff;
                color: #6365EF;
                height: 20px;
                width: 20px;
                line-height: 17px;
                border-radius: 50%;
            }
        }
    }
    .t-grid-table-new {
        @media screen and (max-width: 1500px) {
            min-width: 470px;
        }
        .t-body-overflow {
            overflow: auto;
            height: calc(95vh - 200px);
            padding-top: 10px;
            overflow-x: hidden;
        }
        .t-grid-table-wrapper {
            display: grid;
            grid-template-columns: 2fr 1.5fr 1fr 2fr 1.5fr 2.5fr 1.5fr;
            // grid-gap: 1;
        }
        .table-headers{
            font-size: 20px;
            path{
                fill: var(--dark-text-white-v1);
            }
        }
        .t-box{
            padding: 14px 0;
            padding-left: .5rem !important;
            width: 100%;
            justify-content: center;
            text-align: center;
            color: var(--dark-text-white-v1);
            &:first-child{
                text-align: start;
                justify-content: flex-start;
            }
            .subscription-info-icon{
                width: 45px;
                cursor: pointer;
            }
            .scale-1-3{
                transform: scale(1.3);
            }
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            height: 70px;
        }
        .t-body-bg{
            .t-box{
                color: var(--dark-text-white-v5);
                opacity: 1;
                overflow: hidden;
                width: 100%;
                height: 70px;
                &:not(.action-section){
                    line-height: 50px;
                }
            }
        }
        .bg-body-table-dark-bg{
            border-top: 1px dashed #636668 ;
        }
        .user-table-action{
            display: flex;
            align-items: center;
            width: 90px;
            background-color: var(--dark-background-v3);
            border-radius: 40px;
            height: 45px;
            .user-table-action-icon{
                width: 15px;
                margin-right: 25px;
                cursor: pointer;
            }
        }
    }
}
.user-dashboard-table-container{
    background: var(--dark-table-background);
    padding: 20px 30px;
    box-shadow: 7px 10px 36px rgba(65, 35, 184, 0.15);
    border-radius: 6px;
    .info-head-section{
        font-family: "SF Pro Display Italic";
        color: var(--dark-text-white-v1);
        line-height: 1.6;
        h3{
            font-size: 26px;
        }
        label{
            font-size: 14px;
        }
        .input-label{
            color: var(--dark-text-white-v6);
        }
        .ng-select-container{
            padding: 10px 10px 10px 30px;
            background: var(--dark-background-v2);
            height: 40px;
            width: 160px;
            color: var(--dark-text-white-v6);
            border: none;
            input{
                color: transparent;
            }
        }
        .ng-dropdown-panel{
            margin-top: 10px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            border: none;
            .ng-option{
                padding: 10px 10px 10px 30px;
                background: var(--dark-background);
                width: 160px;
                color: var(--dark-text-white-v6);
                .active{
                    color: #43BE83;
                }
                .inactive{
                    color: #EC5837;
                }
            }
        }
    }
}
.inventory-management{
    .dashboard-head-flex{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .dashboard-head-text{
            color: var(--dark-text-white-v1);
            margin-bottom: 0;
        }
        .btn-dashboard-head{
            color: var(--dark-theme-blue-v1);
            background-color: var(--dark-background);
            border: 1px solid var(--dark-theme-blue-v1);
        }
    }
    .t-grid-table-new {
        @media screen and (max-width: 1500px) {
            min-width: 470px;
        }
        .t-body-overflow {
            overflow: auto;
            height: calc(95vh - 200px);
            padding-top: 10px;
            overflow-x: hidden;
        }
        .t-grid-table-wrapper {
            display: grid;
            grid-template-columns: 200px 200px 1fr 1fr 1fr 1fr 150px;

            grid-gap: 1;
        }
        .t-box {
            padding: 14px 0;
            padding-left: .5rem !important;
            width: 100%;
            justify-content: center;
            color: var(--dark-text-white-v1);
            // overflow: auto;
        }
        .t-body-bg{
            .t-box{
                color: var(--dark-text-white-v2);
            }
        }
        .bg-body-table-dark-bg{
            background-color: var(--dark-background-v2);
            border-radius: 8px;
        }
        .user-table-action{
            display: flex;
            align-items: center;
            .user-table-action-icon{
                width: 15px;
                margin-right: 25px;
                cursor: pointer;
            }
        }
        
    }
}

.customer-management{
    .info-head-section{
        label{
            font-family: "SF Pro Display Italic";
            color: var(--dark-text-white-v4);
        }
    }
    .dashboard-head-flex{
        display: flex;
        justify-content: space-between;
        margin: 20px 0 10px;
        .filter-head{
            color: var(--dark-text-white-v1);
            height: 50px;
            border-radius: 13px;
            background: var(--dark-background-v2);
            img{
                height: 18px;
                width: auto;
            }
            .w-80px{
                width: 80px;
            }
            .rotate-90-deg{
                transform: rotate(90deg);
            }
            .rotate-180-deg{
                transform: rotate(180deg);
            }
            .rotate-n-90-deg{
                transform: rotate(-90deg);
            }
        }
        .btn-dashboard-head{
            color: #fff;
            background-color: #6365EF;
            border-radius: 25px;
            padding: 4px 26px;
            height: 50px;
            .btn-add-icon{
                background: #fff;
                color: #6365EF;
                height: 20px;
                width: 20px;
                line-height: 17px;
                border-radius: 50%;
            }
        }
    }
    .t-grid-table-new {
        @media screen and (max-width: 1500px) {
            min-width: 470px;
        }
        .t-body-overflow {
            overflow: auto;
            height: calc(95vh - 200px);
            padding-top: 10px;
            overflow-x: hidden;
        }
        .t-grid-table-wrapper {
            display: grid;
            grid-template-columns: 4fr 4fr 4fr 175px;
            grid-gap: 1;
        }
        .table-headers{
            font-size: 20px;
            path{
                &:not(.color-stroke){
                    fill: var(--dark-text-white-v1);
                }
                &.color-stroke{
                    stroke: var(--dark-text-white-v1);
                }
            }
        }
        .t-box{
            padding: 14px 0;
            padding-left: .5rem !important;
            width: 100%;
            justify-content: center;
            text-align: center;
            color: var(--dark-text-white-v1);
            &:first-child{
                text-align: start;
                justify-content: flex-start;
            }
        }
        .t-body-bg{
            line-height: 50px;
            .t-box:not(.action-section){
                color: var(--dark-text-white-v5);
                opacity: 0.55;
            }
            &:hover, .active{
                .t-box{ opacity: 1; }
            }
        }
        .table-row-border-top{
            border-top: 1px dashed #636668 ;
        }
        .user-table-action{
            display: flex;
            align-items: center;
            width: 90px;
            background-color: var(--dark-background-v3);
            border-radius: 40px;
            height: 45px;
            .user-table-action-icon{
                width: 15px;
                margin-right: 25px;
                cursor: pointer;
            }
        }
    }
}
.lightMode{
    .filter-head{
        background: #fff !important;
    }
}
.disabled{
    opacity: 0.8;
    pointer-events: none;
    cursor: not-allowed;
}
.search-form{
    width: 15.4vw;
    height: 50px;
    margin-right: 1.5rem;
    position: absolute;
    top: 40px;
    .form-control{
        background: var(--dark-background-v2);
        border: none;
        border-radius: 25px;
        padding-top: 0.05rem;
        padding-bottom: 0.05rem;
        font-family: "SF Pro Display Italic";
        font-size: 1.018vw;
        color: var(--dark-text-white-v1);
        padding-left: 2.75rem;
        &::placeholder{
            color: var(--dark-text-white-v1);
        }
        &:focus{
            background: var(--dark-background-v2);
            color: var(--dark-text-white-v1);
        }
    }

    .search-icon-div{
        position: absolute;
        top: 45%;
        left: 7%;
        transform: translate(-45%, -50%);
        width: 1.25rem;
        @media (max-width: 1679px){
            left: 10%;
        }
        svg{
            fill: var(--dark-text-white-v1);
        }
    }
}