label {
  color: #000 !important;
  font-family: 'SF Pro Display' !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 130% !important; /* 20.8px */
}
