.settings-component{

  .settings-box{
    display: flex;
  }
  .left-div{
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(216, 218, 255, 1);

  }

  .right-border{
     border-right:1px solid rgba(168, 169, 253, 0.5);
     height: 80vh;
  }

    .left-div{
      width: 83%;
      height: 152px;
      margin-top: 20px;
      padding: 14px, 96px, 14px, 8px;
      border-radius: 16px;
      gap: 8px;

      ul{
        list-style: none;
        padding: 5px;

        li{
          width: 177px;
          height: 71px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'SF Pro Display';
          font-size: 22px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.5);
          cursor: pointer;
        }

        li.active {
          color: black;
          .option-svg{
            path{
              stroke-opacity: 1;
            }
          }
          .option-svg1{
            stroke: black;
            path{
              fill: black;
            }
          }
        }


        .option-svg1{
          stroke: grey;
          path{
            fill: gray;
          }
        }

        .option-svg{
          left: -10px;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          stroke-opacity: 0.5;
        }
      }
    }

    .position-div{
      width: 100%;
   .right-div{
    width: 90%;
    min-height: 266px;
    margin-left: 3.5vw;
    border-radius: 6px;
    background: #fff;
    gap: 8px;
    box-shadow: 7px 10px 36px 0px rgba(65, 35, 184, 0.15);

    .access{
        padding-left: 25px;
        padding-top: 22px;
        font-family: 'SF Pro Display';
        font-size: 24px;
        font-weight: 700;
        color: rgba(71, 59, 170, 1);
        cursor: pointer;
      }


      .checkbox{
        gap: 4rem;

        .option1{
          margin-left: 1.4vw;
        }
        .editable{
          background:rgba(99, 101, 239, 0.05);
          color:rgba(0, 0, 0, 1);
          border: none;
        }

        .option1,.option2{
          width: 464px;
          height: 44px;
          top: 100px;
          left: 26px;
          opacity: 0.5px;
          border: 1px solid rgba(105, 105, 105, 0.5);
          border-radius: 8px;
          display: flex;

          label{
            color: rgba(0, 0, 0, 0.5);
             font-family: 'SF Pro Display';
             font-size: 16px;
             font-weight: 600;
             margin-top: 8px;
             margin-left: 10px;
             cursor: pointer;
             user-select: none;
          }

          .editableTxt{
            color:rgba(0, 0, 0, 1);
            border: none;
          }



          .checkbox {
            display: none;
          }

          .opt1{
            // margin-left: 8vw;
            transform: translate(9vw, 0);
          }

          .opt2{
            transform: translate(7vw, 0);
          }

          .opt3{
            transform: translate(11.5vw, 0);
          }

          .opt4{
            transform: translate(7.6vw, 0);
          }

          .checkbox:checked +.unchecked{
            display: none;
          }

          .checkbox:checked + .checked{
            display: inline-block;
          }

          .checkbox + .checked{
            display: none;
          }

          .checkbox:not(:checked) +.unchecked {
            display: inline-block;
          }

          .checkbox:not(:checked) + .checked {
            display: none;
          }
        }

        .labelTxt{
          font-family: 'SF Pro Display';
          font-size: 16px;
          font-weight: 600;
          color:rgba(0, 0, 0, 1);
        }
        .input-wrapper{
          width: 100%;

          .shared-span:first-child{
            flex: 1;
          }
          .shared-span:last-child {
            flex-grow: 0;
          }
          .increment{
            margin-left: 87%;
            margin-top: 4px;
          }
        }



        .edit{
          width: 464px;
          height: 44px;
          top: 100px;
          left: 565px;
          padding: 10px, 18px, 10px, 18px;
          border-radius: 8px;
          border: 1px;
          gap: 8px;
          background: rgba(99, 101, 239, 1);
          border: 1px solid rgba(208, 213, 221, 1);
          color: rgba(255, 255, 255, 1);
          font-size: "Inter";
          font-size: 16px;
          font-weight: 600;
        }

        .save-btn{
          gap: 1rem;
          .cancel{
            width: 223.86px;
            height: 44px;
            top: 310px;
            left: 565px;
            padding: 10px, 18px, 10px, 18px;
            border-radius: 8px;
            border: 1px;
            gap: 8px;
            border: 1px solid rgba(208, 213, 221, 1);
            background: #fff;
            color: rgba(0, 0, 0, 1);
            font-size: "Inter";
            font-size: 16px;
            font-weight: 600;
          }

          .save{
            width: 223.86px;
            height: 44px;
            top: 310px;
            left: 805.14px;
            padding: 10px, 18px, 10px, 18px;
            border-radius: 8px;
            gap: 8px;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            border: none;
            background: rgba(99, 101, 239, 1);
            color: rgba(255, 255, 255, 1);
            font-size: "Inter";
            font-size: 16px;
            font-weight: 600;
          }
          // .save-button:disabled{
          //   background: rgba(230, 230, 230, 1) !important;
          //   color: rgba(0, 0, 0, 0.5) !important;
          // }
        }

        .number-input{
          display: none;
        }
      }
  }
 }



}
