<div class="es-modal">
    <div class="modal-header-flex">
        <div class="modal-header-text-container">
            <p class="modal-header-text mb-0">{{title}}</p>
        </div>
        <div class="es-btn-close-container">
            <button type="button" class="btn btn-sm btn-light es-btn-close" (click)="close()">X</button>
        </div>
    </div>
    <div class="es-modal-body">
        <form class="es-modal-form" [formGroup]="customerForm" novalidate (ngSubmit)="submit()">
            <div class="mb-3">
                <label for="customerName" class="form-label es-modal-form-label">Customer Name</label>
                <input type="text" class="form-control es-input" id="customerName"  formControlName="customerName">
                <div>
                    <span class="help-block ng-invalid text-danger" *ngIf="(f.customerName.touched && f.customerName.pristine) || (f.customerName.errors && submitted)">
                        <span class="small" *ngIf="f.customerName.errors.required">
                            customerName is required!
                        </span>
                    </span>
                </div>
              </div>
            
            <button type="submit" class="btn btn-primary my-4 w-100"  >Submit</button>
          </form>
    </div>
    <div class="es-modal-footer"></div>
</div>

