<div class="es-modal user-info-modal">
    <div class="modal-header-flex p-3">
        <div class="modal-header-text-container">
          <div class="mb-3 user-info-icon d-flex">
            <img class="m-auto" src="/assets/images/dashboard/icon/primary-info.svg" alt="">
          </div>
          <p class="modal-header-text mb-0"> {{userDetails.displayName}}</p>
        </div>
        <div class="es-btn-close-container mt-0 mb-auto me-4">
            <a class="es-btn-close mt-3" (click)="close()"></a>
        </div>
    </div>
    <div class="es-modal-body px-4">
        <div class="row mb-2">
            <div class="col-12 d-flex bottom-border">
                <label class="label-width"> First Name </label>
                <div class="user-details">
                    {{ userDetails.firstName }}
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 d-flex bottom-border">
                <label class="label-width "> Last Name </label>
                <div class="user-details">
                    {{ userDetails.lastName}}
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 d-flex bottom-border">
                <label class="label-width"> Email Address </label>
                <div class="user-details">
                    {{ userDetails.email }}
                </div>
            </div>
        </div>
            
        <div class="row mb-2">
            <div class="col-12 d-flex bottom-border">
                <label class="label-width"> Phone Number </label>
                <div class="user-details">
                    {{ userDetails.mobile }}
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 d-flex">
                <label class="label-width"> Role </label>
                <div class="user-details">
                    {{ userDetails.roles }}
                </div>
            </div>
        </div>
    </div>
    <div class="es-modal-footer d-flex p-4">
        <button  class="btn btn-secondary w-20 mr-30" (click)="close()">
            Cancel
        </button>
        <button class="btn btn-primary ms-auto w-20">
            Edit User
        </button>
    </div>
</div>