<nav class="navbar navbar-expand-lg main-navbar">
  <div class="container-fluid justify-content-start">
    <div class="d-flex ms-auto" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
        <!-- <li class="nav-item">
          <div class="enve-toggle-parent" tooltipPlacement="bottom">
            <div class="environment-toggle-text-container">
              <p class="helvetica-font-regular">Testing</p>
            </div>

            <div>
              <label class="switch">
                <input type="checkbox" disabled>
                <span class="slider round"></span>
              </label>
            </div>

            <div class="environment-toggle-text-container">
              <p class="helvetica-font-regular">Production</p>
            </div>
          </div>
        </li> -->
        <li class="nav-item dropdown cursor-not-allowed my-auto">
          <a class="nav-link dropdown-toggle cursor-not-allowed d-flex" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" disabled>
            <span class="m-auto">EN</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item my-auto">
          <div class="dark-light-toggle">
            <label class="switch">
              <input type="checkbox" (click)="toggleTheme()">
              <span class="slider"></span>

              
              <div class="light-mode-icon d-flex" *ngIf="isDarkTheme">
                <img class="m-auto" src="/assets/images/dashboard/icon/light-mode.svg" alt="">
              </div>
              <div class="dark-mode-icon" *ngIf="!isDarkTheme">
                <img src="/assets/images/dashboard/icon/dark-mode.svg" alt="">
              </div>
            </label>
          </div>
        </li>
      </ul>
      <div class="d-flex">
        <div class="user-name-div me-4 my-auto"> Hi, Admin </div>
        <div class="dropdown">
            <a class="btn btn-dropdown" href="#" role="button" id="customerDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              <div class="user-profile-div">
                <img src="/assets/images/navbar/user-jivan.png" alt="">
              </div>
            </a>

          <ul class="dropdown-menu" aria-labelledby="customerDropdown">
            <li><a class="dropdown-item" href="#" (click)="signout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>