.add-customer-icon{
    background: var(--dark-primary-background);
    border: 8px solid var(--dark-primary-border);
    border-radius: 28px;
    // width: 56px;
    svg{
        transform: scale(1.5);
    }
}
.edit-customer-icon{
    background: var(--dark-info-background);
    border: 8px solid var(--dark-info-border);
    border-radius: 28px;
    // width: 56px;
    svg{
        transform: scale(1.5);
    }
}
