<!-- Default Sidebar -->
<div class="sidebar-inner sidebar-inner-1" [ngClass]="{'d-none': show}"  id="sidebar-1">
    <div class="sidebar-brand-parent">
        <a class="sidebar-brand" routerLink="/">
          <img class="brand-logo" [src]="'/assets/images/auth/logo' + (isDarkTheme ? '.svg' : '-dark.svg')" alt="">
        </a>
    </div>
    <a [routerLink]="[menu.link]" class="sidebar-anchor-tab" [ngClass]="{'active': activeUrl === menu.link}" *ngFor="let menu of sidebarMenuList" [class.disable-link]="menu.isDisabled">
        <div class="sidebar-anchor-tab-flex">
            <div class="sidebar-anchor-tab-flex-img-container">
                <img class="sidebar-anchor-tab-flex-img" [src]="menu.icon" alt="">
            </div> 
            <div class="sidebar-anchor-tab-flex-text-container">
                <p class="sidebar-anchor-tab-flex-text"> {{ menu.title }}</p> 
            </div>
            <div class="sidebar-anchor-tab-flex-text-container ms-auto" *ngIf="menu.hasGroup">
                <img class="sidebar-anchor-tab-flex-img" [src]="'/assets/images/dashboard/icon/arrow-right' + (isDarkTheme ? '.svg' : '-dark.svg')" [ngStyle]="{'transform': (activeUrl === menu.link ? 'rotate(90deg)' : 'none')}" alt="">
            </div>
        </div>
    </a>
    <!-- <div class="cursor-not-allowed">
        <a href="/reports" class="sidebar-anchor-tab cursor-none noClick" aria-disabled="true" disabled>
            <div class="sidebar-anchor-tab-flex ">
                <div class="sidebar-anchor-tab-flex-img-container">
                    <img class="sidebar-anchor-tab-flex-img" src="" alt="">
                </div> 
                <div class="sidebar-anchor-tab-flex-text-container">
                    <p class="sidebar-anchor-tab-flex-text">Settings</p>
                </div>
            </div>
        </a>
    </div> -->
</div>
