.sidebar-left{
    background-color:var(--dark-background);
    width: 40px !important;
    height: 100% ;
    margin-right: 5px;
    flex-shrink: 0;
    .sidebar-anchor-tab-flex-img {
        width: 15px !important;
        margin-left: 3px !important;
        margin-right: 0px !important;
    }
}

.sidebar-right{
    background-color:var(--dark-background);
    color:#FFFFFF;
    width: 100%;
    height: 100%;
    padding-left: 5px;
}

.sidebar-right-heading{
    font-family: "Helvetica-Medium";
    font-size: 12px !important;
    color:#1DA1F1 ;
    span{
        border: 1px solid #1DA1F1;
        border-radius: 3px;
        padding-left: 4px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: -2px;
        padding-right: 4px;
        margin-left: 7px;
        margin-top: 31px;
    }
    i{
        font-size: 15px;
    }
   
}   

.sidebar-accordion{
    
    .accordion{
        --bs-accordion-color:var(--dark-background);
        --bs-accordion-bg: var(--dark-background) !important;
        --bs-accordion-border:0px !important;
        --bs-accordion--inner-border: 0px  !important;
        --bs-accordion-border-color: none !important;
        --bs-accordion-active-bg: none !important;
        --bs-accordion-btn-padding-y: 0Px !important;
        --bs-accordion-btn-padding-x: 0px !important;
        --bs-accordion-active-color: none !important;
        --bs-accordion-btn-color:white !important;
        --bs-accordion-btn-focus-border-color: none !important;
        --bs-accordion-btn-focus-box-shadow: none !important;
        --bs-accordion-body-padding-y: unset !important;
        --bs-accordion-body-padding-x:unset !important;

      
      .accordion-body {
            padding-left: 15px !important;
            padding-top: 10px !important;
       }
       
        .accordion-button {
            font-family: "Helvetica-Medium";
            position: relative;
            font-size: 12px !important;
            display: flex;
            width: 100%;
            padding: unset !important;
            color: var(--dark-text-white-v2);
            text-align: left;
            background-color:unset!important;
            overflow-anchor: none;
           
            &::after {
                background-image: unset !important;
               
            }
    
        }  
        
        .accordion-button:not(.collapsed)::after {
            background-image: unset !important; 
            
           
        }
    }

    .cutomer-mgmt-collapse {
        width: 15px;
        height: 15px;
        position: relative;
        color: var(--dark-text-white-v1) !important;

        &::after{
            font-family: FontAwesome;
            content: "\f106";
            position: absolute;
            top: 1px;
            right:10px;
            font-size: 15px;
            pointer-events: none;
            cursor: pointer;
            color: var(--dark-text-white-v1) !important;

        }
    }
    .cutomer-mgmt-collapse.collapsed {
        width: 15px;
        height: 15px;
        background: var(--dark-background) !important;
        &::after{
            font-family: FontAwesome;
            content: "\f107";
            position: absolute;
            top: 2px;
            right: 10px;
            font-size: 15px;
            pointer-events: none;
            cursor: pointer;
            background: var(--dark-background) !important;
        }
    }
    
    


}

.d-none {
    display:none;
}