<div class="plan-management">
    <div class="dashboard-head-flex">
        <div class="dashboard-head-text">
            <h2>Subscriptions</h2>
        </div>
        <div>
            <button type="button" class="btn btn-dashboard-head" (click)="createSubscription()">
                <span class="me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 19 19">
                        <g id="Group_231" data-name="Group 231" transform="translate(-1712.5 -176)">
                          <g id="Group_230" data-name="Group 230">
                            <rect id="Rectangle_160" data-name="Rectangle 160" width="2" height="19" rx="1" transform="translate(1721 176)" fill="#1da1f1"/>
                            <rect id="Rectangle_161" data-name="Rectangle 161" width="2" height="19" rx="1" transform="translate(1712.5 186.5) rotate(-90)" fill="#1da1f1"/>
                          </g>
                        </g>
                    </svg>                      
                </span> Add New Subscription
            </button>
        </div>
    </div>
    <div class="user-dashboard-table-container">
        <div class="user-dashboard-table">
            <div class="t-grid-table-new">
                <div class="t-grid-table-wrapper t-head-bg border-bottom-light">
                    <div class="t-box a px-2">Subscription Number</div>
                    <div class="t-box b px-2">Date</div>
                    <div class="t-box a px-2">Amount</div>
                    <div class="t-box b px-2">Plan ID</div>
                    <div class="t-box a px-2">User Email</div>
                    <div class="t-box b px-2">Expiry Date</div>
                    <div class="t-box a px-2">Actions</div>
                </div>
                <div class="t-body-overflow">
                    <div class="t-grid-table-wrapper t-body-bg cursor-p border-bottom-light bg-body-table-dark-bg" *ngFor="let subscription of subscriptionList; index as i" [ngClass]="{'bg-body-table-dark-bg': i % 2 === 0}">
                        <div class="t-box a px-2">{{subscription.subscriptionNumber}}</div>
                        <div class="t-box b px-2">{{subscription.startDate | date: 'medium'}}</div>
                        <div class="t-box a px-2">{{subscription.amount | currency: 'INR'}}</div>
                        <div class="t-box a px-2">{{subscription.planId}}</div>
                        <div class="t-box b px-2">{{subscription.userEmail}}</div>
                        <div class="t-box a px-2">{{subscription.endDate | date: 'medium'}}</div>
                        <div class="t-box b px-2">
                            <div class="user-table-action">
                                <img class="user-table-action-icon" src="assets/images/dashboard/icon/editing-action.svg" alt="" (click)="editSubscription(i)">
                                <img class="user-table-action-icon" src="assets/images/dashboard/icon/delete-action.svg" alt="" (click)="deleteSubscription(i)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>