.es-modal{
    .confirmation-icon{
        border-radius: 28px;
        width: 56px;
        svg{
            transform: scale(1.2);
            margin-left: 2px;
        }
        &.trash-icon{
            background: var(--dark-danger-background);
            border: 8px solid var(--dark-danger-border);
        }
    }

    .es-modal-body{
        padding: 15px;
        .modal-message-text{
            justify-content: left;
            color: var(--font-color);
            font-size: 16px;
            font-weight: 600;
        }
    }
    .es-modal-footer{
        // padding: 15px;
        .btn{
            height: 44px;
            width: 170px;
            border: none;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
        }
        .btn-secondary{
            background: var(--dark-secondary-btn-background);
            color: var(--font-color);
            border: var(--dark-secondary-btn-border) solid #D0D5DD;
        }
        .btn-danger-scondary{
            background: var(--dark-danger-secondary-btn-background);
            color: var(--font-color);
            border: var(--dark-secondary-btn-border) solid #D0D5DD;
        }
        .btn-primary{
            background: var(--add-button-bg-color);
        }
        
        .info{
            background: #428EFF !important;
        }
    }
}
