<div class="es-modal">
    <div class="es-modal-body">
        <div class="es-confirm-header">
            <p class="modal-header-text mb-0 text-center mt-2">{{message}}</p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-danger my-4" (click)="close(false)">Cancel</button>
            <button type="submit" class="btn btn-primary my-4 ms-3" (click)="close(true)">Confirm</button>
        </div>
    </div>
    <div class="es-modal-footer"></div>

</div>
