<div class="es-modal">
    <!-- <div class="modal-header-flex">
        <div class="modal-header-text-container">
            <p class="modal-header-text mb-0">Add New User</p>
        </div>
        <div class="es-btn-close-container">
            <button type="button" class="btn btn-sm btn-light es-btn-close" (click)="close(false)">X</button>
        </div>
    </div> -->
    <div class="es-modal-body">
        <div class="es-confirm-header">
            <p class="modal-header-text mb-0 text-center mt-2">Are you sure you want to delete it?</p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-danger my-4" (click)="close(false)">Cancel</button>
            <button type="submit" class="btn btn-primary my-4 ms-3">Confirm</button>
        </div>
    </div>
    <div class="es-modal-footer"></div>

</div>
