<div class="common-header main-content-div-area"> 
    <div class="heading-flex border-bottom">
        <div class="heading-text">
            <h2>Settings</h2>
        </div>
    </div>

    <div class="row row-cols-3 settings add-edit-modal py-0" *ngIf="!inProgress; else spinner">
        <!-- Inventory Usage -->
        <div class="col ps-0">
            <div class="card settings-card border-0 rounded-0">
                <div class="card-body d-flex flex-column justify-content-between p-0">
                    <div>
                        <div>
                            <h1 class="modal-header-text">Inventory Usage Reminder</h1> 
                            <p>Set a limit for Inventory Usage.</p>
                        </div>
                        <div>
                            <ng-container>
                                <div class="row row-cols-3 radio-div g-2">
                                    <div class="col" *ngFor="let value of reminderValues">
                                        <label [for]="value" class="border-gray d-flex align-items-center">
                                            <input type="radio" [id]="value" [value]="value" [(ngModel)]="reminderCurrentValue">
                                            {{ value == 0 ? 'No Reminder' : value+'% Usage' }}
                                        </label>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between btn-grp">
                        <button type="button" class="btn btn-secondary btn-width" (click)="cancel('usage')" [disabled]="reminderCurrentValue == currentUsageValue">Cancel</button>
                        <button type="submit" class="btn ms-auto btn-width" [ngClass]="[reminderCurrentValue != currentUsageValue ? 'btn-primary' : 'btn-secondary']" (click)="save()" [disabled]="reminderCurrentValue == currentUsageValue">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Email Forwarding -->
        <div class="col">
            <div class="card settings-card border-0 rounded-0">
                <div class="card-body d-flex flex-column justify-content-between p-0">
                    <div>
                        <div>
                            <h1 class="modal-header-text">Email Forwarding</h1> 
                            <p>Where would you like to receive your emails?</p>
                        </div>
                        <div>
                            <div class="email-div mb-2">
                                <label for="support">Support Email</label>
                                <div class="row copy" [ngClass]="[supportEmail && supportEmail.length > 0 ? 'border-purple':'']" >
                                    <div class="col-8">
                                        <input type="email" name="support" id="support" [(ngModel)]="supportEmail" placeholder="Enter your email id" autocomplete="off" #support="ngModel" [disabled]="!isSupportEdit">
                                    </div>
                                    <div class="col-4 d-flex justify-content-end align-items-center gap-2 px-0" *ngIf="supportEmail && supportEmail.length > 0">
                                        <span class="icon cursor-pointer" (click)="editField('support')" tooltip="Edit" placement="top" delay="100" offset="10">
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8831 2.96672C18.065 3.23953 18.0346 3.61027 17.7922 3.85044L9.0931 12.4648C9.00386 12.5532 8.89257 12.6164 8.77059 12.648L5.14762 13.5851C5.02945 13.6156 4.90765 13.615 4.79321 13.5861C4.67154 13.5555 4.55819 13.493 4.46638 13.402C4.28822 13.2256 4.21787 12.9688 4.28154 12.7274L5.22788 9.13963C5.25576 9.03393 5.30809 8.92953 5.38047 8.84762L14.1118 0.205859C14.1881 0.130177 14.2802 0.0735272 14.3804 0.0390127C14.4547 0.0134197 14.5335 0 14.6136 0C14.8018 0 14.9824 0.074052 15.1155 0.205859L17.7922 2.85646C17.8268 2.89077 17.8571 2.92774 17.8831 2.96672ZM16.2865 3.35345L14.6136 1.69682L6.55262 9.67942L5.96117 11.9218L8.2255 11.3361L16.2865 3.35345Z" fill="black"/>
                                                <path d="M16.1666 13.9729C16.4253 11.7823 16.5077 9.57638 16.4135 7.376C16.4091 7.27067 16.4491 7.16813 16.5243 7.09357L17.4549 6.17206C17.5693 6.05876 17.7648 6.13069 17.7755 6.29056C17.9506 8.90483 17.8841 11.531 17.5765 14.1363C17.3526 16.0316 15.8154 17.517 13.9114 17.7277C10.6309 18.0908 7.23979 18.0908 3.9593 17.7277C2.05523 17.517 0.518074 16.0316 0.294219 14.1363C-0.098073 10.8148 -0.098073 7.45931 0.294219 4.13787C0.518074 2.2425 2.05523 0.757143 3.9593 0.546401C6.44792 0.27097 9.00015 0.20448 11.5194 0.346933C11.6818 0.356117 11.7558 0.550675 11.6408 0.664554L10.7016 1.59471C10.6271 1.66845 10.525 1.70807 10.4196 1.70454C8.31274 1.63417 6.19149 1.71379 4.11697 1.9434C2.85825 2.08271 1.84994 3.06633 1.7041 4.30117C1.32462 7.51413 1.32462 10.76 1.7041 13.9729C1.84994 15.2078 2.85825 16.1914 4.11697 16.3307C7.29269 16.6822 10.578 16.6822 13.7537 16.3307C15.0125 16.1914 16.0207 15.2078 16.1666 13.9729Z" fill="black"/>
                                            </svg>    
                                        </span>
                                        <span class="icon cursor-pointer" (click)="copyToClipboard($event,supportEmail)" [tooltip]="copyText" placement="top" delay="100" offset="10">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <mask id="mask0_2161_5534" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
                                                    <rect width="20" height="20" fill="#D9D9D9"/>
                                                </mask>
                                                <g mask="url(#mask0_2161_5534)">
                                                    <path d="M4.16667 18.3332C3.70833 18.3332 3.31583 18.1701 2.98917 17.844C2.66306 17.5173 2.5 17.1248 2.5 16.6665V4.99984H4.16667V16.6665H13.3333V18.3332H4.16667ZM7.5 14.9998C7.04167 14.9998 6.64944 14.8368 6.32333 14.5107C5.99667 14.184 5.83333 13.7915 5.83333 13.3332V3.33317C5.83333 2.87484 5.99667 2.48234 6.32333 2.15567C6.64944 1.82956 7.04167 1.6665 7.5 1.6665H15C15.4583 1.6665 15.8508 1.82956 16.1775 2.15567C16.5036 2.48234 16.6667 2.87484 16.6667 3.33317V13.3332C16.6667 13.7915 16.5036 14.184 16.1775 14.5107C15.8508 14.8368 15.4583 14.9998 15 14.9998H7.5ZM7.5 13.3332H15V3.33317H7.5V13.3332Z" fill="#1C1B1F"/>
                                                </g>
                                            </svg>                           
                                        </span>
                                        <button type="button" class="btn-primary" (click)="sendTestMail(supportEmail)">Test email</button>
                                    </div>
                                </div>
                                <span class="text-danger" *ngIf="support.errors">
                                    <span class="small" *ngIf="support.errors['pattern']">Please enter valid email.</span>
                                </span>
                            </div>
                            <div class="email-div">
                                <label for="contact">Contact Us Email</label>
                                <div class="row copy" [ngClass]="[contactEmail && contactEmail.length > 0 ? 'border-purple':'']" >
                                    <div class="col-8">
                                        <input type="email" name="contact" id="contact" [(ngModel)]="contactEmail" placeholder="Enter your email id" autocomplete="off" #contact="ngModel" [disabled]="!isContactEdit">
                                    </div>
                                    <div  class="col-4 d-flex justify-content-end align-items-center gap-2 px-0" *ngIf="contactEmail && contactEmail.length > 0">
                                        <span class="icon cursor-pointer" tooltip="Edit" placement="top" delay="100" offset="10" (click)="editField('contact')">
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8831 2.96672C18.065 3.23953 18.0346 3.61027 17.7922 3.85044L9.0931 12.4648C9.00386 12.5532 8.89257 12.6164 8.77059 12.648L5.14762 13.5851C5.02945 13.6156 4.90765 13.615 4.79321 13.5861C4.67154 13.5555 4.55819 13.493 4.46638 13.402C4.28822 13.2256 4.21787 12.9688 4.28154 12.7274L5.22788 9.13963C5.25576 9.03393 5.30809 8.92953 5.38047 8.84762L14.1118 0.205859C14.1881 0.130177 14.2802 0.0735272 14.3804 0.0390127C14.4547 0.0134197 14.5335 0 14.6136 0C14.8018 0 14.9824 0.074052 15.1155 0.205859L17.7922 2.85646C17.8268 2.89077 17.8571 2.92774 17.8831 2.96672ZM16.2865 3.35345L14.6136 1.69682L6.55262 9.67942L5.96117 11.9218L8.2255 11.3361L16.2865 3.35345Z" fill="black"/>
                                                <path d="M16.1666 13.9729C16.4253 11.7823 16.5077 9.57638 16.4135 7.376C16.4091 7.27067 16.4491 7.16813 16.5243 7.09357L17.4549 6.17206C17.5693 6.05876 17.7648 6.13069 17.7755 6.29056C17.9506 8.90483 17.8841 11.531 17.5765 14.1363C17.3526 16.0316 15.8154 17.517 13.9114 17.7277C10.6309 18.0908 7.23979 18.0908 3.9593 17.7277C2.05523 17.517 0.518074 16.0316 0.294219 14.1363C-0.098073 10.8148 -0.098073 7.45931 0.294219 4.13787C0.518074 2.2425 2.05523 0.757143 3.9593 0.546401C6.44792 0.27097 9.00015 0.20448 11.5194 0.346933C11.6818 0.356117 11.7558 0.550675 11.6408 0.664554L10.7016 1.59471C10.6271 1.66845 10.525 1.70807 10.4196 1.70454C8.31274 1.63417 6.19149 1.71379 4.11697 1.9434C2.85825 2.08271 1.84994 3.06633 1.7041 4.30117C1.32462 7.51413 1.32462 10.76 1.7041 13.9729C1.84994 15.2078 2.85825 16.1914 4.11697 16.3307C7.29269 16.6822 10.578 16.6822 13.7537 16.3307C15.0125 16.1914 16.0207 15.2078 16.1666 13.9729Z" fill="black"/>
                                            </svg>    
                                        </span>
                                        <span class="icon cursor-pointer" (click)="copyToClipboard($event,contactEmail)" [tooltip]="copyText" placement="top" delay="100" offset="10">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <mask id="mask0_2161_5534" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
                                                    <rect width="20" height="20" fill="#D9D9D9"/>
                                                </mask>
                                                <g mask="url(#mask0_2161_5534)">
                                                    <path d="M4.16667 18.3332C3.70833 18.3332 3.31583 18.1701 2.98917 17.844C2.66306 17.5173 2.5 17.1248 2.5 16.6665V4.99984H4.16667V16.6665H13.3333V18.3332H4.16667ZM7.5 14.9998C7.04167 14.9998 6.64944 14.8368 6.32333 14.5107C5.99667 14.184 5.83333 13.7915 5.83333 13.3332V3.33317C5.83333 2.87484 5.99667 2.48234 6.32333 2.15567C6.64944 1.82956 7.04167 1.6665 7.5 1.6665H15C15.4583 1.6665 15.8508 1.82956 16.1775 2.15567C16.5036 2.48234 16.6667 2.87484 16.6667 3.33317V13.3332C16.6667 13.7915 16.5036 14.184 16.1775 14.5107C15.8508 14.8368 15.4583 14.9998 15 14.9998H7.5ZM7.5 13.3332H15V3.33317H7.5V13.3332Z" fill="#1C1B1F"/>
                                                </g>
                                            </svg>                           
                                        </span>
                                        <button type="button" class="btn-primary" (click)="sendTestMail(contactEmail)">Test email</button>
                                    </div>
                                </div>
                                <span class="text-danger" *ngIf="contact.errors">
                                    <span class="small" *ngIf="contact.errors['pattern']">Please enter valid email.</span>
                                </span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="d-flex justify-content-between btn-grp">
                    <button type="button" class="btn btn-secondary btn-width" (click)="cancel('email')" [disabled]="!(isSupportEdit || isContactEdit)">Cancel</button>
                    <button type="submit" class="btn ms-auto btn-width" [ngClass]="[(isSupportEdit || isContactEdit) ? 'btn-primary' : 'btn-secondary']" (click)="save()" [disabled]="!(isSupportEdit || isContactEdit)">Save</button>
                </div>
            </div>
        </div>
        
        <!-- Currency Setup -->
        <div class="col pe-0 currency-setup">
            <div class="card settings-card border-0 rounded-0">
                <div class="card-body d-flex flex-column justify-content-between p-0" *ngIf="!inProgress; else spinner">
                    <div>
                        <div>
                            <h1 class="modal-header-text">Currency</h1> 
                            <p>Set your customer mobile or web app currencies here and set one as default.</p>
                        </div>
                        <form class="es-modal-form" [formGroup]="currencySetupForm" novalidate>
                            <div class="divHeight d-flex justify-content-between">
                                <div class="col-12 imsi-input currency-list-input">
                                    <label for="currencies">Currencies</label>
                                    <div class="relative">
                                        <ng-select 
                                            [items]="currencyList"
                                            formControlName="currencyList"
                                            bindLabel="currency_name"
                                            [multiple]="true"
                                            [closeOnSelect]="false"
                                            placeholder="Search Currencies / Multiple can be selected"
                                            (change)="onCurrenciesChange($event)"
                                            (remove)="onCurrencyRemoveFromList($event)"
                                            (clear)="onCurrenciesListClear($event)"
                                            class="custom-search">
                
                                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                <div class="ng-value d-flex" *ngFor="let item of items | slice:0:2">
                                                    <span class="ng-value-label ellipsis">
                                                        <span class="w40">{{$any(item).currency | currencySymbol }}</span>&nbsp;&nbsp;<span>{{$any(item).currency_name}}</span>
                                                    </span>
                                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                                </div>
                                                <div class="ng-value" *ngIf="items.length > 2">
                                                    <span class="ng-value-label" [tooltip]="displaySelectedCurrencies(items)" placement="top" delay="100" offset="15">+{{items.length - 2}}</span>
                                                </div>
                                            </ng-template>
                
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                    <div class="d-flex justify-content-between border-1">
                                                        <div class="w40">{{item.currency | currencySymbol }}</div> 
                                                        <div>{{item.currency_name}}</div>
                                                    </div>
                                                    <div class="form-label es-modal-form-label unlimited">
                                                        <input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/> 
                                                        <span class="checkmark"></span>
                                                    </div>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>

                            <div class="divHeight mt-3">
                                <div class="col-12 imsi-input default-currency-ng-select">
                                    <label for="defaultCurrency">Select default currency</label>
                                    <div class="relative container-ng-select">
                                        <ng-select
                                            [items]="defaultCurrencyList"
                                            [multiple]="false"
                                            [closeOnSelect]="true"
                                            bindLabel="currency_name"
                                            formControlName="defaultCurrency"
                                            placeholder="Search Currency"
                                            class="full-width custom-search">
                                            <ng-template ng-label-tmp let-item="item" let-item$="item$" let-index="index">
                                                <span class="w40">{{item.currency | currencySymbol }}</span>&nbsp;&nbsp;<span>{{item.currency_name}}</span>
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <div>
                                                    <input  id="item-{{index}}" type="radio" name="name" [checked]="item$.selected" /> 
                                                </div>
                                                <div>
                                                    <span class="w60">{{item.currency | currencySymbol }}</span>&nbsp;&nbsp;<span>{{item.currency_name}}</span>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>  
                            </div>
                        </form>
                    </div>
                    <div class="d-flex justify-content-between btn-grp" *ngIf="isCurrencyEdit; else edit">
                        <button type="button" class="btn btn-secondary btn-width" (click)="cancel('currency')" >Cancel</button>
                        <button type="submit" class="btn btn-primary btn-width" (click)="saveCurrencySetup()" [disabled]="!currencySetupForm.valid">Save</button>
                    </div>
                    <ng-template #edit>
                        <div class="d-flex justify-content-between btn-grp">
                            <button type="submit" class="btn btn-primary ms-auto w100" (click)="editField('currency')">Edit</button>
                        </div>
                    </ng-template>
                </div>
                    
                <!-- Loading Spinner - Start -->
                <ng-template #spinner class="loader-align">
                    <app-loading-spinner></app-loading-spinner>
                </ng-template>
                <!-- Loading Spinner - End -->
            </div>
        </div>
    </div>

    <!-- External Email Setup - Start -->
    <div class="row settings add-edit-modal pb-0" [ngClass]="{custom: !isCustom}" *ngIf="!inProgress; else spinner">

        <div class="settings-card">
            <div class="d-flex justify-content-between heading">
                <div>
                    <h1>External Email Setup</h1>
                </div>
                <div>
                    <div class="user-table-action-icon mx-auto">
                        <label class="switch">
                            <input type="checkbox" [(ngModel)]="isCustom" (ngModelChange)="edit()">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            <form class="es-modal-form" [formGroup]="emailSetupForm" novalidate autocomplete="off" (ngSubmit)="saveEmailSetup()" >
                <div class="row mt-4">
                    <div class="col">
                        <h3>Configuration</h3>
                        <div class="row mb-3">
                            <label for="outgoingServer" class="col-sm-3 col-form-label form-label">Outgoing Server</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control es-input" id="outgoingServer" formControlName="outgoingServer">
                                <div>
                                    <span class="help-block ng-invalid text-danger" *ngIf="(f.outgoingServer.touched && f.outgoingServer.pristine) || (f.outgoingServer.errors && isSubmitted)">
                                        <span class="small" *ngIf="f.outgoingServer.errors.required">
                                            Outgoing Server is required!
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <h3>Authentication</h3>
                        <div class="row mb-3">
                            <label for="username" class="col-sm-3 col-form-label form-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control es-input" id="username" formControlName="username">
                                <div>
                                    <span class="help-block ng-invalid text-danger" *ngIf="(f.username.touched && f.username.pristine) || (f.username.errors && isSubmitted)">
                                        <span class="small" *ngIf="f.username.errors.required">
                                            Username is required!
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row mb-3">
                            <label for="port" class="col-sm-3 col-form-label form-label es-modal-form-label">Port No</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control es-input" id="port" formControlName="port">
                                <div>
                                    <span class="help-block ng-invalid text-danger" *ngIf="(f.port.touched && f.port.pristine) || (f.port.errors && isSubmitted)">
                                        <span class="small" *ngIf="f.port.errors.required">
                                            Port is required!
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row mb-3">
                            <label for="password" class="col-sm-3 col-form-label form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control es-input" id="password" formControlName="password">
                                <div>
                                    <span class="help-block ng-invalid text-danger" *ngIf="(f.password.touched && f.password.pristine) || (f.password.errors && isSubmitted)">
                                        <span class="small" *ngIf="f.password.errors.required">
                                            Password is required!
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row mb-3">
                            <label for="secure" class="col-sm-3 col-form-label form-label">Secure</label>
                            <div class="col-sm-9 d-flex align-items-center">
                                <label for="secure" class="ms-1 me-3 form-label es-modal-form-label unlimited">
                                    <input type="checkbox" class="form-checbox my-auto" id="secure" aria-describedby="secure" formControlName="secure" #isSecure>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row mb-3">
                            <label for="alias" class="col-sm-3 col-form-label form-label">Alias (Optional)</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control es-input" id="alias" formControlName="alias">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-secondary" (click)="cancel('smtp')" [class.disabled]="!isCustom">Cancel</button>
                    </div>
                    <div class="col d-flex justify-content-between">
                        <div class="col">
                            <button type="button" class="btn btn-secondary" (click)="sendTestSMTPEMail()" [class.disabled]="!isCustom">Test</button>
                        </div>
                        <div class="col-8">
                            <button type="submit" class="btn btn-primary w-100" [class.disabled]="!isCustom">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
            
    </div>
    <!-- External Email Setup - End -->

    <!-- Loading Spinner - Start -->
    <ng-template #spinner class="loader-align">
        <app-loading-spinner></app-loading-spinner>
    </ng-template>
    <!-- Loading Spinner - End -->

</div>