
.border-top {
    border-top: 1px solid var(--bottom-border-color) !important;
}

.settings {
    // justify-content: space-between;
    padding-top: 16px;

    &-card {
        background-color: var(--card-background-color);
        box-shadow: var(--box-shadow-size-color);
        padding: 16px;

        h1 {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            color: var(--settings-card-heading-text-color);
        }

        h3 {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            color: var(--settings-card-heading-text-color);
        }

        p {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: var(--settings-helping-text-color);
        }

        .radio-div {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: var(--radio-label-text-color);
            margin-top: 4px;
            
            input {
                margin-right: 28px;
            }
            
            input[type='radio'] {
                accent-color: #667085;
            }
        }
        
        .btn-grp {
            margin-top: 20px;
        }
    }

    .email-div{

        input {
            border: none;
            width: 100%;
            background-color: transparent !important;
            color: var(--modal-form-label-text-color);
            
            &:focus-visible {
                outline: none !important;
            }
        }

        .copy {
            display: flex;
            justify-content: space-between;
            padding: 4px;
            border: 1px solid #696969;
            border-radius: 8px;
            margin-left: 0;
            margin-right: 0;

            svg{
                display: inline;
            }
        }

        button {
            border: none;
            background: #6365EF;
            border-radius: 8px;
            width: 105px;
            height: 28px;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }    

    .border-gray {
        border: 1px solid rgba(208, 213, 221, 0.40);
        border-radius: 8px;
        padding: 10px;
    }

    .border-purple {
        border: 1px solid var(--input-border-color-hover) !important;
    }
}

.heading {
    border-bottom: 1px solid var(--bottom-border-color);

    h1 {
        color: var(--table-heading-text-color);
    }

    .switch {
        margin-bottom: 0px;
        position: relative;
        display: inline-block;
        width: 32px;
        margin-top: 10px !important;
        height: 18px;
        
        input{
            opacity: 0;
            width: 0;
            height: 0;
        }
        .round{
            border-radius: 34px;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid var(--settings-slider-bg-color);
            background: var(--settings-slider-bg-color);
            transition: 0.4s;
            border-radius: 10px;
            &:before {
                background: var(--settings-slider-circle-bg-color);
                position: absolute;
                content: "";
                height: 12px;
                width: 12px;
                border-radius: 50%;
                left: 2px;
                bottom: 2px;
                transition: 0.4s;
            }
        }
    }
    input:checked + .slider{
        background-color: #6365EF;
        // border: 0;
        border: 1px solid #6365EF;
        &:before {
            transform: translateX(13px);
            background-color: var(--settings-slider-circle-bg-color);
        }
    }
    .slider.round:before {
        border-radius: 50%;
    }

}

label {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--modal-form-label-text-color);
    margin-bottom: 12px;
}

input {
    background-color: transparent !important;
    color: var(--modal-form-label-text-color);
    border: 1px solid var(--input-border-color);
    
    &:focus-visible {
        background-color: transparent !important;
        outline: none !important;
    }
}

.custom {
    opacity: 0.5;
}


//////////////////////////////////////////////////////
// Form
.es-modal-form{
    .form-control{
        // border-color: var(--dark-right-border);
        &[type=number], &[type=number]::-webkit-inner-spin-button{
            -webkit-appearance: none;
        }
        &.price-input{
            padding-left: 48px;
        }
        &.es-select{
            background-color: transparent;
            color: var(--modal-sub-header-text-color);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 5rem;
            // background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICA8cGF0aCBmaWxsPSJncmF5IiBkPSJNMTAsMjMyLjdsNDkwLDUzNC41bDQ5MC01MzQuNUgxMHoiIC8+DQo8L3N2Zz4=);
            // background-image: url(assets/icons/down-caret-black.svg);
            background-repeat: no-repeat;
            background-position: right;
            background-position-x: 90%;
            background-size: 10px;
            border-color: var(--input-border-color);

            option{
                color: var(--modal-header-text-color) !important;
                background: transparent;
            }
            &:before{
                border-style: solid;
                border-width: 0.25em 0.25em 0 0;
                content: '>';
                display: inline-block;
                height: 0.45em;
                left: 0.15em;
                position: relative;
                top: 0.15em;
                transform: rotate(-45deg);
                vertical-align: top;
                width: 0.45em;
            }

            &:hover {
                // border: 1px solid var(--dark-modal-input-border);
                color: var(--modal-header-text-color);
            }
        }
        &.left-radius-0{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }            
    
        &:focus, &:hover{
            background-color: var(--card-background-color);
            color: var(--modal-header-text-color);
            box-shadow: none;
        }

        &.validity-select {
            width: 10rem !important;
        }
    }

    .data-input {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .unlimited {
        font-size: 14px !important;
        font-weight: 400  !important;
        display: inline-flex;
        gap: 10px;
    }

    .price-input-icon{
        position: absolute;
        border-right: 1px solid var(--input-border-color);
        height: 37px;
        width: 38px;
        text-align: center;
        line-height: 36px;
        color: var(--modal-sub-header-text-color) !important;
        // font-weight: normal !important;
        
        svg {
            path {
                fill: var(--modal-sub-header-text-color) !important;
            }
        }
    }
    
    .date-input-icon{
        position: absolute;
        height: 38px;
        width: 38px;
        text-align: center;
        line-height: 36px;
    }

    .input-icon {
        position: relative;
    
        .down-caret-btn {
            position: absolute;
            height: 38px;
            width: 38px;
            line-height: 36px;
            right: 0;
            text-align: center;
        }
    }

    .input-number-btn {
        display: flex;
        position: relative;
        left: 72%;
        margin-top: -28px;
        width: fit-content;

        .disabled{
            border-color:#868987 !important;
            color: #868987 !important;
        }
        .number-incremental{
            height: 20px;
            width: 20px;
            line-height: 15px;
            border-radius: 50%;
            text-align: center;
            border: 1px solid #00C853;
            color: #00C853;
            cursor: pointer;
            margin-left: 8px;
            margin-right: 14px;
        }
        .number-decremental{
            height: 20px;
            width: 20px;
            line-height: 15px;
            border-radius: 50%;
            text-align: center;
            border: 1px solid #D32F2F;
            color: #D32F2F;
            cursor: pointer;
        }
    }
    
    // Plan location search
    .ng-search {        
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: -32px;
        position: absolute;
    }

    .ng-select-container{
        padding: 10px 0px;
        background: transparent;
        height: 40px;
        width: 100%;
        color: var(--table-heading-text-color);
        border: none;
        // border: 1px solid rgba(99, 101, 239, 0.48);
        border: 1px solid var(--input-border-color) !important;
        
        input{
            color: var(--table-heading-text-color);
        }
        .ng-arrow {
            transform: rotate(-90deg);
            // border-color: rgba(99, 101, 239, 0.48) transparent transparent;
            border-color: var(--input-border-color) transparent transparent;
        }

    }

    .ng-has-value {
        border: 1px solid var(--input-border-color-hover) !important;
    }

    .full-width {
        width: 100%;
    }

    .imsi-input {
        .ng-select-container{
            border-color: var(--dark-right-border);
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0 !important;

            .ng-value-container .ng-placeholder {
                top: 8px !important;
                padding-bottom: 0 !important;
                padding-left: 3px !important;
                color: var(--modal-sub-header-text-color) !important;
            }
        }

        .ng-dropdown-panel .scroll-host {
            padding: 8px;
        }

        .ng-option {
            padding: 8px;
            border-radius: 8px;
            margin-bottom: 4px;
            
            &:hover {
                background-color: var(--dropdown-hover-bg-color) !important;
            }
        }

        .ng-option-selected {
            background: var(--active-link-background-color) !important;
            padding: 8px;
            border-radius: 8px;
            margin-bottom: 8px;
        }

        input[type='radio'] {
            accent-color: #667085;
        }
    }
    
    .currency-input {
        .ng-select-container{
            border-color: var(--dark-right-border);
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 36px !important;

            .ng-value-container .ng-placeholder {
                top: 8px !important;
                padding-bottom: 0 !important;
                padding-left: 3px !important;
                color: var(--modal-sub-header-text-color) !important;
            }
        }

        .ng-dropdown-panel .scroll-host {
            padding: 20px;
        }

        .ng-option {
            padding: 8px;
            border-radius: 8px;
            margin-bottom: 4px;
            color: rgba(31, 29, 29, 0.76);
            font-size: 12px;
            font-family: SF Pro Display;
            
            &:hover {
                background-color: var(--dropdown-hover-bg-color) !important;
            }
        }

        .ng-option-selected {
            background: var(--active-link-background-color) !important;
            padding: 8px;
        } 
    }

    ::ng-deep{
        .multi-select-counties{
            .ng-select-container{
                border-color: var(--dark-right-border);
                padding-left: 36px;
            }
            .ng-arrow-wrapper{
                display: none;
            }                
        }
    }
}
//////////////////////////////////////////////////////

.card {
    height: 40.62vh;
}