// .dashboard.user-dashboard{

// }

.profile-mgmt-card{
    padding: 36px;
    padding: 1.85vw;
    background: var(--dark-background) 0% 0% no-repeat padding-box;
    border-radius: 7px;
    position: relative;
    height: 100%;
    .blue-border-bottom{
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        background: var(--dark-theme-blue-v1);
    }
    .user-icon-parent{
        background: var(--dark-background-v1) 0% 0% no-repeat padding-box;
        border-radius: 13px;
        width: 3.75vw;
        height: auto;
        padding: 1.025vw;
        margin-bottom: 1.5rem;
    }
    .user-profile-text{
        font-family: "Helvetica-Light";
        font-size: 1.146vw;
        color: var(--dark-text-white-v1);
        margin-bottom: 0.5rem;
    }
    .user-profile-count{
        font-family: "Helvetica-Medium";
        font-size: 1.563vw;
        color: var(--dark-text-white-v1);
        margin-bottom: 0;
    }
    .total-user-text{
        font-size: 1.048vw;
    }

}
.dark-bg-card{
    background: var(--dark-background) 0% 0% no-repeat padding-box;
    height: 100%;
    padding-bottom: 1rem;
    position: relative;
    .blue-border-bottom{
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 10px;
        background: var(--dark-theme-blue-v1);
    }
}

.profile-type-heading{
    font-family: "Helvetica-Light";
    color: var(--dark-text-white-v1);
    font-size: 1.146vw;
}

.download-trend-graph-parent{
    margin-top: 30px;
    // width: 100%;
    border: 1px solid var(--dark-text-white-v5);
    padding: 30px;
    .img-fluid{
        width: 100%;
    }
}
.dashboard-profile-t{
    display: grid;
    grid-template-columns: 15vw 1fr 1fr 1fr;
    // grid-gap: 1;
}
.bg-odd-row{
    background: var(--dark-background-v2);
    border-radius: 14px;
}
.t-head{
    font-family: "Helvetica-Medium"; 
}
.t-box-data{
    font-family: "Helvetica-Light";
    color: var(--dark-text-white-v4) !important;
}
.download-trend-heading{
    font-size: 20px;
    font-family: "Helvetica-Light";
    color: var(--dark-text-white-v1) !important;
    margin-bottom: 0;
}
.profile-type-parent{
    height: 100%;
    display: flex;
    align-items: center;
}
.dashboard-card-row{
    display: flex;
    flex-direction: row;
    margin-left: -1rem;
    margin-right: -1rem;
    .dashboard-card-parent{
        width: 20%;
        flex: 1 1 20%;
        padding: 0 1rem;
    }
}
