<div class="dashboard user-dashboard"> 
    <div class="dashboard-head-flex">
        <div class="dashboard-head-text">
            <h2>Dashboard</h2>
        </div>
        <!-- <div>
            <button type="button" class="btn btn-dashboard-head">
                <img src="" alt=""> Add New User
            </button>
        </div> -->
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <div>
                <div class="dashboard-card-row" *ngIf="totalProfiles">
                    <div class="dashboard-card-parent">
                        <div class="profile-mgmt-card">
                            <div class="user-icon-parent">
                                <img class="img-fluid" src="/assets/images/dashboard/icon/user-icon.png" alt="">
                            </div>
                            <p class="user-profile-text">Available Profiles</p>
                            <p class="user-profile-count">{{totalProfiles.availableProfiles}}</p>
                            <div class="blue-border-bottom"></div>
                        </div>
                    </div>
                    <div class="dashboard-card-parent">
                        <div class="profile-mgmt-card">
                            <div class="user-icon-parent">
                                <img class="img-fluid" src="/assets/images/dashboard/icon/user-icon.png" alt="">
                            </div>
                            <p class="user-profile-text">Installed Profiles</p>
                            <p class="user-profile-count">{{totalProfiles.installedProfiles}}</p>
                            <div class="blue-border-bottom"></div>
                        </div>
                    </div>
                    <div class="dashboard-card-parent">
                        <div class="profile-mgmt-card">
                            <div class="user-icon-parent">
                                <img class="img-fluid" src="/assets/images/dashboard/icon/user-icon.png" alt="">
                            </div>
                            <p class="user-profile-text total-user-text">Allocated Profiles</p>
                            <p class="user-profile-count">{{totalProfiles.allocatedProfiles}}</p>
                            <div class="blue-border-bottom"></div>
                        </div>
                        <!-- <div class="dark-bg-card">
                            
                        </div> -->
                    </div>
                    <div class="dashboard-card-parent">
                        <div class="profile-mgmt-card">
                            <div class="user-icon-parent">
                                <img class="img-fluid" src="/assets/images/dashboard/icon/user-icon.png" alt="">
                            </div>
                            <p class="user-profile-text total-user-text">Active Subscriptions</p>
                            <p class="user-profile-count">{{totalProfiles.totalCount}}</p>
                            <div class="blue-border-bottom"></div>
                        </div>
                        <!-- <div class="dark-bg-card">
                        </div> -->
                    </div>
                    <div class="dashboard-card-parent">
                        <div class="profile-mgmt-card">
                            <div class="user-icon-parent">
                                <img class="img-fluid" src="/assets/images/dashboard/icon/user-icon.png" alt="">
                            </div>
                            <p class="user-profile-text total-user-text">Subscribers</p>
                            <p class="user-profile-count">{{totalProfiles.subscriberCount}}</p>
                            <div class="blue-border-bottom"></div>
                        </div>
                        <!-- <div class="dark-bg-card">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <div class="download-trend-graph-parent">
                <p class="download-trend-heading">Installed</p>
                <!-- <img class="img-fluid" src="/assets/images/dashboard/icon/download-trend-graph.svg" alt=""> -->
                <canvas id="downloadChart"></canvas>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="profile-type-parent">
                <div class="w-100">
                    <p class="profile-type-heading">Inventory Status</p>
                    <div class="t-grid-table-new">
                        <div class="dashboard-profile-t t-head-bg border-bottom-light">
                            <div class="t-box a px-2 t-head">Customer Name</div>
                            <div class="t-box b px-2 t-head">Total Profile</div>
                            <div class="t-box a px-2 t-head">Available</div>
                            <div class="t-box b px-2 t-head">Installed</div>
                        </div>
                        <div class="dashboard-profile-t border-bottom-light" *ngFor="let item of [1,2,3,4,5]; index as i" [ngClass]="{'bg-odd-row': i % 2 === 0}">
                            <div class="t-box a px-2 t-box-data">eSIM_CMHK_Plus01</div>
                            <div class="t-box b px-2 t-box-data">35</div>
                            <div class="t-box a px-2 t-box-data">05</div>
                            <div class="t-box b px-2 t-box-data">05</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-6">
            <div class="download-trend-graph-parent">
                <img class="img-fluid" src="/assets/images/dashboard/icon/download-trend-graph.svg" alt="">
            </div>
        </div> -->
    </div>
</div>
