<div class="main-content-div-area"> 
    <div class="heading-flex">
        <div class="heading-text">
            <h2>Dashboard</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <label class="section-head-text">Overview</label>
        </div>
        <div class="col-4 d-flex">
            <label class="ms-1 section-head-text">Widgets</label>
            <img class="ms-auto me-1" src="/assets/images/dashboard/icon/swap_vertical_circle.svg" alt="icon">
        </div>
    </div>
    <div class="row dashboard-border-top">
        <div class="col-8 pt-4">
            <div class="dashboard-graph">
                <div class="dashboard-heading d-flex align-items-center mb-2">
                    <h4>Revenue Trend Graph</h4>
                    <div class="ms-auto d-flex align-items-center mr-2">
                        <span>
                            <svg class="icon revenue-icon" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="5.5" cy="6" r="5.5" fill="white"/>
                            </svg>
                        </span>&nbsp;&nbsp;
                        <span class="ml-2">Revenue</span>&nbsp;&nbsp;
                    </div>
                    <!-- <div class="mx-2 d-flex mt-2"><span class="sub-legend current-status"></span> Current week</div>
                    <div class="mx-2 d-flex mt-2"><span class="sub-legend previous-status"></span> Previous week</div> -->
                    <div class="ml-2"> 
                        <div class="selector-filter"></div>
                        <ng-select class="selector-filter" [(ngModel)]="graphFilterBy" (change)="selectTimeframe($event)" [clearable]="false">
                            <!-- <ng-option value="day">Current Day</ng-option> -->
                            <ng-option value="week">Current Week</ng-option>
                            <ng-option value="month">Current Month</ng-option>
                            <ng-option value="year">Current Year</ng-option>
                        </ng-select>
                    </div>
                </div>
                <canvas id="downloadChart"></canvas>
                
            </div>
        </div>
        <div class="col-4 dashboard-border-left pt-4" *ngIf="dashboardDetails">
            <div class="dashboard-widget" *ngFor="let widget of dashboardWidgets">
                <div class="widget-header">
                    <div class="widget-icon">
                        <img [src]="widget.titleIcon" alt="">
                    </div>
                    <div class="widget-text">
                        {{ widget.title }}
                    </div>
                </div>
                <div class="widget-body d-flex justify-content-between">
                    <div class="widget-count">
                        <!-- <span *ngIf="widget.detailsType == 'currency'"> $</span> 
                        {{ dashboardDetails[widget.detailsKey] }} -->
                        {{ widget.detailsType == 'currency' ? (dashboardDetails[widget.detailsKey] | currency: 'USD') : dashboardDetails[widget.detailsKey] }}
                    </div>
                    <div class="widget-graph" *ngIf="widget.graphIcon != ''">
                        <img [src]="widget.graphIcon" alt="">
                    </div>
                </div>
                <div class="widget-footer d-flex align-items-center" *ngIf="widget.showFooter">
                    <img src="/assets/images/dashboard/widgets-icon/arrow-circle-up.svg" alt="">
                    <div class="ms-1"> {{widget.increase}}% increase from the previous month</div>
                </div>
            </div>
        </div>
    </div>
</div>
