<div class="es-modal">
    <div class="modal-header-flex">
        <div class="modal-header-text-container">
            <p class="modal-header-text mb-0">{{title}}</p>
        </div>
        <div class="es-btn-close-container mt-0 mb-auto me-4">
            <a class="es-btn-close mt-3" (click)="close()"></a>
        </div>
    </div>
    <div class="es-modal-body">
        <form class="es-modal-form" [formGroup]="subscriptionForm" novalidate (ngSubmit)="submit()">
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="planId" class="form-label es-modal-form-label">Plan</label>
                    <select formControlName="planId" class="form-control es-input" (change)="assignPlan()"> 
                        <option *ngFor="let plan of planList" [value]="plan._id">{{plan.name}}</option>  
                    </select>
                    <div>
                        <span class="help-block ng-invalid text-danger" *ngIf="(f.planId.touched && f.planId.pristine) || (f.planId.errors && submitted)">
                            <span class="small" *ngIf="f.planId.errors.required">
                                Plan ID is required!
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <label for="amount" class="form-label es-modal-form-label">Amount</label>
                    <input type="number" class="form-control es-input cursor-not-allowed" id="amount" aria-describedby="emailHelp" formControlName="amount" [attr.disabled]="true">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="startDate" class="form-label es-modal-form-label">Date</label>
                    <input type="text" class="form-control es-input cursor-not-allowed" id="startDate" aria-describedby="emailHelp" formControlName="startDate" [attr.disabled]="true">
                </div>
                <div class="col-6">
                    <label for="endDate" class="form-label es-modal-form-label">Expiry Date</label>
                    <input type="text" class="form-control es-input cursor-not-allowed" id="endDate" aria-describedby="emailHelp" formControlName="endDate" [attr.disabled]="true">
                </div>
            </div>
            <div class="mb-3">
                <label for="userEmail" class="form-label es-modal-form-label">User Email</label>
                <select formControlName="userEmail" class="form-control es-input"> 
                    <option *ngFor="let subscriber of subscribeList" [value]="subscriber._id">{{subscriber.email}}</option>
                </select>
                <div>           
                    <span class="help-block ng-invalid text-danger" *ngIf="(f.userEmail.valid && f.userEmail.pristine) || (f.userEmail.errors && submitted)">
                        <span class="small" *ngIf="f.userEmail.errors.required">
                          User Email is required!
                        </span>
                    </span>
                    <!-- <span class="help-block ng-invalid text-danger" *ngIf="f.userEmail.errors && submitted">
                        <span class="small">
                            Enter valid email!
                        </span>
                    </span> -->
                </div>
              </div>
            <button type="submit" class="btn btn-primary my-4 w-100">Submit</button>
          </form>
    </div>
    <div class="es-modal-footer"></div>
</div>
