::ng-deep .cdk-overlay-container { z-index: 1200 !important; }
::ng-deep mat-datepicker-toggle {position: relative;}

::ng-deep mat-form-field {
    display: block !important;
    font-family: var(--font-family-sf-pro-display) !important;
}

::ng-deep .mat-calendar, ::ng-deep .mat-button-wrapper {
    font-family: var(--font-family-sf-pro-display) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick:hover {
    color: none !important;
}

::ng-deep .mat-form-field-infix {
    color: var(--font-color);
    border: none;
    margin-top: 4px;
    font-family: var(--font-family-sf-pro-display) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 !important;
    display: flex;
    align-items: center;
    border: none !important;
}

::ng-deep mat-form-field {
    width: 100% !important;
    height: 42px !important;
    border-radius: 6px;
    color: var(--input-text-color) !important;
    border: 1px solid var(--input-border-color) !important;
}

:ng-deep .cdk-program-focused {
    background-color: transparent;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: transparent !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: transparent !important;
}

.endDate ::ng-deep .mat-button-wrapper {
    svg {
        fill: var(--disabled-date-icon-color) !important;
    }
}

::ng-deep .mat-button-wrapper {
  svg {
      fill: var(--enabled-date-icon-color) !important;
  }
}

::ng-deep .mat-input-element::placeholder {
    color: var(--modal-sub-header-text-color) !important;
}

.ng-select::placeholder{
  color: var(--disabled-date-icon-color);
}

.input-width {
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
            padding: 0 !important;
        }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
            flex-direction: row-reverse !important;
        }
}

.flag-style {
    width: 32px;
    height: 22px;
    border-radius: 4px !important;
    margin-right: 16px;
}

input[type="text"] {
    height: 40px !important;
}

#regionId, #data, #priceBundle, #endDate {
    opacity: 0.5;
}
