<div class="es-modal info-modal">
    <!-- <div class="modal-header-flex p-4">
        <div class="modal-header-text-container">
          <div class="mb-3 plan-info-icon d-flex">
            <img class="m-auto" src="/assets/images/dashboard/icon/primary-info.svg" alt="">
          </div>
          <p class="modal-header-text mb-0"> {{ planDetails.name }} $ {{ planDetails.priceBundle }}</p>
        </div>
        <div class="es-btn-close-container mt-0 mb-auto me-4">
            <a class="es-btn-close mt-3" (click)="close()"></a>
        </div>
    </div> -->
    <div class="modal-header-flex">
        <div class="modal-header-text-container">
            <div class="mb-3 subscription-info-icon d-flex">
                <img class="m-auto" src="/assets/icons/info.svg" alt="info-icon">
            </div>  
        </div>
        <div class="es-btn-close-container mt-0 mb-auto me-3">
            <a class="es-btn-close" (click)="close()"></a>
        </div>
    </div>
    <div>
        <p class="modal-header-text mb-0">Ultimated Premium: {{ planDetails.priceBundle | currency: 'USD' }}</p>
    </div>
    <div class="es-modal-body">
        <div class="row">
            <div class="col-4">
                <label class="label-text">Data</label>
                <div class="modal-details-text">{{ planDetails.dataPerDay || 1 }} GB/Day</div>
            </div>
            <div class="col-4">
                <label class="label-text">SMS</label>
                <div class="modal-details-text">{{ planDetails.smsPerDay || 0 }} SMS/Day</div>
            </div>
            <div class="col-4">
                <label class="label-text">Voice</label>
                <div class="modal-details-text">{{ planDetails.voice }}</div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <label class="label-text">Total Data</label>
                <div class="modal-details-text">{{ planDetails.data }}</div>
            </div>
            <div class="col-4">
                <label class="label-text">Countries</label>
                <div class="modal-details-text" *ngIf="countryList && countryList.length > 0">
                    <span>{{ countryList[0].name | titlecase }}</span>
                    <span *ngIf="countryList.length > 1">, </span>
                    <div *ngIf="countryList.length > 1" class="more-countries" [tooltip]="displayContryList()" placement="top" delay="100" offset="5">
                        &plus;{{ countryList.length - 1 }} more
                    </div>
                </div>
            </div>
            <div class="col-4">
                <label class="label-text">Validity</label>
                <div class="modal-details-text">{{ planDetails.validity }} Days</div>
            </div>
        </div>
    </div>
    <!-- <div class="es-modal-footer d-flex pt-4">
        <button class="btn btn-secondary" (click)="close()">Disable Plan</button>
        <button class="btn btn-primary ms-auto w-20">
            Edit Plan
        </button>
    </div> -->

    <div class="es-modal-footer pt-4">
        <button class="btn btn-secondary btn-full-width" (click)="close()">Disable Plan</button>
    </div>
</div>