.plan-info-modal{
    .plan-info-icon{
        background: var(--dark-info-background);
        border: 8px solid var(--dark-info-border);
        border-radius: 28px;
        width: 56px;
        height: 56px;
        svg{
            transform: scale(2);
        }
    }
    .es-modal-body{
        label{
            color: var(--dark-text-white-v1);
            font-weight: 600;
            margin-bottom: 0.5rem;
        }
        .plan-details{
            color: var(--dark-text-white-v2);
        }
    }
    .btn{
        height: 44px;
        width: 170px;
        border: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
    .btn-secondary{
        background: var(--dark-background-v2);
        color: var(--dark-text-white-v1);
        border: var(--dark-secondary-btn-border) solid #D0D5DD;
    }
    .btn-primary{
        background: #6365EF;
    }
}