<div class="auth-parent-section dark-content">
    <div class="auth-main-body">
        <div class="row">
            <div class="col-lg-5 pe-0">
                <div class="auth-left-section">
                    <div class="d-flex align-items-center">
                        <h1 class="welcome-heading mb-0">Welcome to</h1>
                        <span class="ms-3 logo-span">
                            <img class="img-fluid" src="/assets/images/auth/anuyat-logo.png" alt="">
                        </span>
                    </div>
                    <div class="mt-5">
                        <p class="signin-text mb-0">Reset Password</p>
                        <form class="signin-form-parent">
                            <!-- <div class="form-inner-div">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@mail.com">
                            </div> -->
                            <div class="form-inner-div">
                                <label for="exampleInputPassword1" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="**************">
                                <!-- <div class="position-relative">
                                    
                                    <p class="reset-pass-text">
                                        <a href="" routerLink="/reset-password">Reset Password</a>
                                    </p>
                                </div> -->
                            </div>
                            <div class="form-inner-div">
                                <label for="exampleInputPassword1" class="form-label">Repeat Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="**************">
                                <!-- <div class="position-relative">
                                    
                                    <p class="reset-pass-text">
                                        <a href="" routerLink="/reset-password">Reset Password</a>
                                    </p>
                                </div> -->
                            </div>
                            <button type="submit" class="btn auth-btn common-btn">Reset Password</button>
                        </form>
                    </div>
                    <p class="privacy-policy-text">
                        <a href="">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7 ps-0">
                <div class="auth-right-section">
                    <p class="auth-right-text">Connecting the world with<br> Remote SIM Provisioning<br> Platform</p>

                    <div class="text-end autn-img-div">
                        <img class="img-fluid" src="/assets/images/auth/auth-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
