<div class="auth-parent-section dark-content">
    <div class="auth-main-body">
        <div class="row">
            <div class="col-lg-5 pe-0">
                <div class="auth-left-section">
                    <div class="d-flex align-items-center">
                        <h1 class="welcome-heading mb-0">Welcome to</h1>
                        <span class="ms-3 logo-span">
                            <img class="img-fluid" src="assets/images/auth/gloiwingBud-light.png" alt="">
                        </span>
                    </div>
                    <div class="mt-5">
                        <p class="signin-text mb-0">Reset Password</p>
                        <form class="signin-form-parent"  [formGroup]="resetPasswordForm" novalidate (ngSubmit)="submit()" >
                            <!-- <div class="form-inner-div">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@mail.com">
                            </div> -->
                            <div class="form-inner-div">
                                <label for="exampleInputPassword1" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="**************" formControlName="password">
                                <div>
                                    <p class="text-danger text-center" *ngIf="err">The username or password you have entered is incorrect.</p>
                                    <span class="help-block ng-invalid text-danger" *ngIf="(!f.password.valid && !f.password.pristine) || (f.password.errors && submitted)">
                                        <span class="small" *ngIf="f.password.errors.required">
                                            Password is required!
                                        </span>
                                    </span>
                                    
                                </div>
                                <!-- <div class="position-relative">
                                    
                                    <p class="reset-pass-text">
                                        <a href="" routerLink="/reset-password">Reset Password</a>
                                    </p>
                                </div> -->
                            </div>
                            <div class="form-inner-div">
                                <label for="exampleInputPassword1" class="form-label">Repeat Password</label>
                              
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="**************" formControlName="confirmPassword">
                                 <div class="position-relative">
                                     <div class="help-block ng-invalid text-danger mb-0" *ngIf="passwordMatchError">
                                        Password does not match
                                        
                                    </div>
                                    
                                    
                                    <p class="help-block ng-invalid text-danger mb-0" *ngIf="(!f.password.valid && !f.password.pristine) || (f.password.errors && submitted)">
                                        <span class="small" *ngIf="f.password.errors.required">
                                           Confirm password is required!
                                        </span>
                                    </p>
                                   
                                </div>
                                <!-- <div class="position-relative">
                                    
                                    <p class="reset-pass-text">
                                        <a href="" routerLink="/reset-password">Reset Password</a>
                                    </p>
                                </div> -->
                            </div>
                            <button type="submit" class="btn auth-btn common-btn">Reset Password</button>
                        </form>
                    </div>
                    <p class="privacy-policy-text">
                        <a href="">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7 ps-0">
                <div class="auth-right-section">
                    <p class="auth-right-text">Connecting the world with<br> Remote SIM Provisioning<br> Platform</p>

                    <div class="text-end autn-img-div">
                        <img class="img-fluid" src="/assets/images/auth/auth-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
