.progress-bar{
    .progress-bar-item{
        height: 4px;
        background-color: #ddd;
    }
    .progress-bar-overlay{
        top: -4px;
        height: 4px;
        position: relative;
        background-color: #ddd;
    }
}