<div class="es-modal">
    <div class="modal-header-flex">
        <div class="modal-header-text-container">
            <p class="modal-header-text mb-0">{{title}}</p>
        </div>
        <div class="es-btn-close-container">
            <button type="button" class="btn btn-sm btn-light es-btn-close" (click)="close()">X</button>
        </div>
    </div>
    <div class="es-modal-body">
        Hiiiii
        <!-- <form class="es-modal-form" [formGroup]="subscriptionForm" novalidate (ngSubmit)="submit()">
            <div class="mb-3">
                <label for="subscriptionNumber" class="form-label es-modal-form-label">Subscription Number</label>
                <input type="text" class="form-control es-input" id="subscriptionNumber" aria-describedby="emailHelp" formControlName="subscriptionNumber">
              </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="startDate" class="form-label es-modal-form-label">Date</label>
                    <input type="date" class="form-control es-input" id="startDate" aria-describedby="emailHelp" formControlName="startDate">
                </div>
                <div class="col-6">
                    <label for="endDate" class="form-label es-modal-form-label">Expiry Date</label>
                    <input type="date" class="form-control es-input" id="endDate" aria-describedby="emailHelp" formControlName="endDate">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="amount" class="form-label es-modal-form-label">Amount</label>
                    <input type="number" class="form-control es-input" id="amount" aria-describedby="emailHelp" formControlName="amount">
                </div>
                <div class="col-6">
                    <label for="planId" class="form-label es-modal-form-label">Plan ID</label>
                    <input type="text" class="form-control es-input" id="planId" aria-describedby="emailHelp" formControlName="planId">
                </div>
            </div>
            <div class="mb-3">
                <label for="userEmail" class="form-label es-modal-form-label">User Email</label>
                <input type="email" class="form-control es-input" id="userEmail" aria-describedby="emailHelp" formControlName="userEmail">
              </div>
            <button type="submit" class="btn btn-primary my-4 w-100">Submit</button>
          </form> -->
    </div>
    <div class="es-modal-footer"></div>
</div>
