.information-icon{
    cursor: pointer;
}

.dashboard-card-row{
    display: flex;
    flex-direction: row;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 2rem;
    .dashboard-card-parent{
        width: 20%;
        flex: 1 1 20%;
        padding: 0 1rem;
    }
}
.profile-mgmt-card {
    padding: 36px;
    padding: 1.85vw;
    background: var(--dark-background) 0% 0% no-repeat padding-box;
    border-radius: 7px;
    position: relative;
    height: 100%;
    .user-icon-parent {
        background: var(--dark-background-v1) 0% 0% no-repeat padding-box;
        border-radius: 13px;
        width: 3.75vw;
        height: auto;
        padding: 1.025vw;
        margin-bottom: 1.5rem;
    }
    .user-profile-text {
        font-family: "Helvetica-Light";
        font-size: 1.146vw;
        color: var(--dark-text-white-v1);
        margin-bottom: 0.5rem;
    }
    .user-profile-count {
        font-family: "Helvetica-Medium";
        font-size: 1.563vw;
        color: var(--dark-text-white-v1);
        margin-bottom: 0;
    }
    .blue-border-bottom {
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        background: var(--dark-theme-blue-v1);
    }
}