.success-error-img-div{
    width: 15vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.success-error-heading{
    font-size: 28px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 2rem;
}
.success-error-text{
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-weight: 300;
}