 <div class="customer-management">
    <form class="d-flex search-form" role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <span class="search-icon-div">
          <svg class="img-fluid" fill="#707070" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px"
            height="30px">
            <path
              d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z" />
            </svg>
        </span>
    </form>
    <div class="dashboard-head-flex">
        <!-- <div class="dashboard-head-text d-flex">
            <h2>Customer Management</h2>
                <p *ngIf="customerId && customer" class="dashboard-head-text-subtext"> - {{customer.name}}</p>
        </div>
        <div>
            <button type="button" class="btn btn-dashboard-head me-4" (click)="importProfile()">
                <span class="me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                        <g id="upload" transform="translate(-1 -1)">
                          <path id="Path_5" data-name="Path 5" d="M22,13a1,1,0,0,0-1,1v4.213A2.79,2.79,0,0,1,18.213,21H5.787A2.79,2.79,0,0,1,3,18.213V14a1,1,0,1,0-2,0v4.213A4.792,4.792,0,0,0,5.787,23H18.213A4.792,4.792,0,0,0,23,18.213V14A1,1,0,0,0,22,13Z" fill="#1da1f1"/>
                          <path id="Path_6" data-name="Path 6" d="M6.707,8.707,11,4.414V17a1,1,0,0,0,2,0V4.414l4.293,4.293a1,1,0,1,0,1.414-1.414l-6-6a1,1,0,0,0-1.414,0l-6,6A1,1,0,1,0,6.707,8.707Z" fill="#1da1f1"/>
                        </g>
                      </svg>
                </span>
                Import Profile
            </button>
            <button type="button" class="btn btn-dashboard-head" (click)="createCustomer()">
                <img src="" alt=""> 
                <span class="me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 19 19">
                        <g id="Group_231" data-name="Group 231" transform="translate(-1712.5 -176)">
                          <g id="Group_230" data-name="Group 230">
                            <rect id="Rectangle_160" data-name="Rectangle 160" width="2" height="19" rx="1" transform="translate(1721 176)" fill="#1da1f1"/>
                            <rect id="Rectangle_161" data-name="Rectangle 161" width="2" height="19" rx="1" transform="translate(1712.5 186.5) rotate(-90)" fill="#1da1f1"/>
                          </g>
                        </g>
                    </svg>                      
                </span>Add New Customer
            </button>
        </div> -->
        <div class="filter-head d-flex py-1 px-4">
            <div class="d-flex">
                <img class="mx-2 my-auto" src="assets/images/dashboard/icon/chevron-blue.svg" alt="">
                <span class="mx-2 my-auto"> {{ monthsList[selectedFilter.month] }} </span>
                <img class="mx-2 my-auto rotate-180-deg" src="assets/images/dashboard/icon/chevron-blue.svg" alt="">
            </div>
            <div class="d-flex ms-2">
                <img class="mx-2 my-auto rotate-90-deg" src="assets/images/dashboard/icon/chevron-blue.svg" alt="">
                <span class="mx-3 my-auto"> {{ selectedFilter.year }} </span>
                <img class="mx-2 my-auto rotate-n-90-deg" src="assets/images/dashboard/icon/chevron-blue.svg" alt="">
            </div>
        </div>
        
<!-- Button trigger modal -->
        <button type="button" class="btn btn-dashboard-head ms-auto me-4 d-flex" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addNewCustomer()">
            <span class="me-3 btn-add-icon m-auto"> + </span>
            <span class="m-auto">Add new customer</span>
        </button>
        
    <!-- Modal start -->
  
  <div class="modal fade "  fill="#707070" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h1 class="modal-title fs-5" id="exampleModalLabel">ADD NEW CUSTOMER</h1>
          <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="adminForm" (submit)="addNewCustomer()" >
        <div class="modal-body  bg-dark text-white">
             <!-- role, username  -->
             <div class="form-group bg-dark ">
                <label for="username">Full name</label>
                <input type="text" class="bg-dark text-white form-control" id="username" name="username" formControlName="username"
                  placeholder="Enter Username">
              </div>
              
              <div class="form-group bg-dark ">
              <label for="role">Select Provider</label>
              <select class="bg-dark text-white form-control" id="role" name="role" formControlName="provider">
                <option value="Telna" formControlName="Telna">Telna</option>
                <option value="POD" formControlName="POD">POD</option>
              </select>
            </div>
              

        </div>
        <div class="modal-footer bg-dark text-white">
          <button type="button" class="btn btn-secondary btn-sm " data-bs-dismiss="modal">Close</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit"  class="btn btn-primary btn-sm "(click)="addNewCustomer()">Save </button>
        </div>
    </form>
      </div>
    </div>
  </div>
<!-- Modal end -->



<button type="button" class="btn btn-dashboard-head ms-auto me-4 d-flex" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addNewCustomer()">
  <span class="me-3 btn-add-icon m-auto"> + </span>
  <span class="m-auto">Update customer</span>
</button>

<!-- Modal start -->

<div class="modal fade "  fill="#707070" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm">
<div class="modal-content">
<div class="modal-header bg-dark text-white">
<h1 class="modal-title fs-5" id="exampleModalLabel">ADD NEW CUSTOMER</h1>
<button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form [formGroup]="adminForm" (submit)="editCustomer(customer)" ;index as i >
<div class="modal-body  bg-dark text-white">
   <!-- role, username  -->
   <div class="form-group bg-dark ">
      <label for="username">Full name</label>
      <input type="text" class="bg-dark text-white form-control" id="username" name="username" formControlName="username"
        placeholder="Enter Username">
    </div>
    
    <div class="form-group bg-dark ">
    <label for="role">Select Provider</label>
    <select class="bg-dark text-white form-control" id="role" name="role" formControlName="provider">
      <option value="Telna" formControlName="Telna">Telna</option>
      <option value="POD" formControlName="POD">POD</option>
    </select>
  </div>
    

</div>
<div class="modal-footer bg-dark text-white">
<button type="button" class="btn btn-secondary btn-sm " data-bs-dismiss="modal">Close</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit"  class="btn btn-primary btn-sm " (click)="editCustomer(customer)" >Update</button>
</div>
</form>
</div>
</div>
</div>
<!-- Modal end -->


    </div>
    <div class="user-dashboard-table-container">
        <div class="user-dashboard-table">
            <div class="t-grid-table-new">
                <div class="t-grid-table-wrapper t-head-bg border-bottom-light">
                    <div class="t-box b px-2">Customer Name</div>
                    <div class="t-box b px-2">Creation Date</div>
                    <div class="t-box a px-2">Number Of Profiles</div>
                    <!-- <div class="t-box a px-2">Created By</div> -->
                    <div class="t-box b px-2">Action</div>
                </div>
                <div class="t-body-overflow" *ngIf="customerList && customerList.length > 0">
                    <div class="t-grid-table-wrapper t-body-bg cursor-p border-bottom-light"  *ngFor="let customer of customerList; index as i" [ngClass]="{'bg-body-table-dark-bg': i % 2 === 0}">
                       
                        <div class="t-box a px-2"  [routerLink]="['/customer-management', customer._id]">{{customer.name}}</div>
                        <div class="t-box b px-2">{{customer.createdAt | date: "medium"}}</div>
                        <div class="t-box a px-2">{{customer.totalCount}}</div>
                        <!-- <div class="t-box a px-2">{{customer.createdBy}}</div> -->

                        <div class="t-box b px-2">
                            <div class="user-table-action">
                                <img class="user-table-action-icon" src="assets/images/dashboard/icon/editing-action.svg" alt="" (click)="editCustomer(i)">
                                <img class="user-table-action-icon" src="assets/images/dashboard/icon/delete-action.svg" alt="" (click)="deleteCustomer(i)">
                                <img class="user-table-action-icon" src="/assets/icons/import-icon.png" alt="" (click)="assignProfiles(i)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Pagination  -->
    <div class="pagination">
        <a href="#">&#8592;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&#8594;</a>
      </div>
      
</div> 

