
 .hr5 {
  background-color: rgb(12, 12, 12);
  border-top: 2px dashed #dbe3e7;
}

#button{
  border-radius:35%;
  height: 40px;
}


::ng-deep {
  .ngx-pagination {
    display: flex;
    margin-top: 100px;
    align-items: center;
    gap: 4px;
  }

  .ngx-pagination li {

    width: 35px;
    height: 35px;
    border-radius: 30% !important;
    background: rgb(16, 1, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;



    &.small-screen {
      display: none !important;
    }


    &.pagination-previous,
    &.pagination-next {

      a,
      span {
        width: 100%;
        height: 100%;
        border-radius: 35%;
        overflow: hidden;
        color: rgb(16, 1, 39);
        ;

      }
    }

  }

  .ngx-pagination .pagination-previous a:before,
  .ngx-pagination .pagination-previous.disabled:before,
  .ngx-pagination .pagination-next::before {

    margin-right: 0px !important;
    font-size: 26px;
    margin-top: -8px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 35%;
    // border: 1px solid;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: rgba(9, 5, 37, 0.6);
    left: 0;
    top: 0px;
    pointer-events: none;
  }

  .ngx-pagination .pagination-previous.disabled:before {
    content: \bb;
  }

  .ngx-pagination .pagination-next::after {
    display: none !important;
  }

  .ngx-pagination .pagination-previous.disabled:before {
    opacity: 0.4;
  }

  .ngx-pagination .pagination-previous.disabled:hover .ngx-pagination .pagination-next.disabled:before {
    background: rgb(16, 1, 39) !important;
  }

  .ngx-pagination a:hover,
  .ngx-pagination button:hover {
    background: initial !important;
  }


}