<div class="es-modal">
    <div class="modal-header-flex">
        <div class="modal-header-text-container">
            <p class="modal-header-text mb-0">{{title}}</p>
        </div>
        <div class="es-btn-close-container">
            <button type="button" class="btn btn-sm btn-light es-btn-close" (click)="close()">X</button>
        </div>
    </div>
    <div class="es-modal-body">
        <form class="es-modal-form" [formGroup]="planForm" novalidate (ngSubmit)="submit()">
            <div class="mb-3">
                <label for="name" class="form-label es-modal-form-label">Plan Name</label>
                <input type="text" class="form-control es-input" id="name" aria-describedby="name" formControlName="name">
                <div>
                    <span class="help-block ng-invalid text-danger" *ngIf="(f.name.touched && f.name.pristine) || (f.name.errors && submitted)">
                        <span class="small" *ngIf="f.name.errors.required">
                            Plan Name is required!
                        </span>
                    </span>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="validity" class="form-label es-modal-form-label">Expiry Interval</label>
                    <input type="text" class="form-control es-input" id="validity" aria-describedby="validity" formControlName="validity">
                    <div>
                        <span class="help-block ng-invalid text-danger" *ngIf="(f.validity.touched && f.validity.pristine) || (f.validity.errors && submitted)">
                            <span class="small" *ngIf="f.validity.errors.required">
                                Expiry Interval is required!
                            </span>
                        </span>
                    </div>    
                </div>
                <div class="col-6">
                    <label for="cost" class="form-label es-modal-form-label">Cost</label>
                    <input type="text" class="form-control es-input" id="cost" aria-describedby="cost" formControlName="cost">
                    <div>
                        <span class="help-block ng-invalid text-danger" *ngIf="(f.cost.touched && f.cost.pristine) || (f.cost.errors && submitted)">
                            <span class="small" *ngIf="f.cost.errors.required">
                                Cost is required!
                            </span>
                        </span>
                    </div>    
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="dataSize" class="form-label es-modal-form-label">Data</label>
                    <input type="text" class="form-control es-input" id="dataSize" aria-describedby="dataSize" formControlName="dataSize">
                    <div>
                        <span class="help-block ng-invalid text-danger" *ngIf="(f.dataSize.touched && f.dataSize.pristine) || (f.dataSize.errors && submitted)">
                            <span class="small" *ngIf="f.dataSize.errors.required">
                                Data is required!
                            </span>
                        </span>
                    </div>    
                </div>
                <div class="col-6">
                    <label for="voice" class="form-label es-modal-form-label">Voice Calls</label>
                    <input type="number" class="form-control es-input" id="voice" aria-describedby="voice" formControlName="voice">
                    <div>
                        <span class="help-block ng-invalid text-danger" *ngIf="(f.voice.touched && f.voice.pristine) || (f.voice.errors && submitted)">
                            <span class="small" *ngIf="f.voice.errors.required">
                                voice is required!
                            </span>
                        </span>
                    </div>    
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="sms" class="form-label es-modal-form-label">SMS</label>
                    <input type="number" class="form-control es-input" id="sms" aria-describedby="sms" formControlName="sms">
                    <div>
                        <span class="help-block ng-invalid text-danger" *ngIf="(f.sms.touched && f.sms.pristine) || (f.sms.errors && submitted)">
                            <span class="small" *ngIf="f.sms.errors.required">
                                Sms is required!
                            </span>
                        </span>
                    </div>    
                </div>
                <div class="col-6 mb-3">
                    <label for="planId" class="form-label es-modal-form-label">Region</label>
                    <select formControlName="regionId" class="form-control es-input">  
                        <option *ngFor="let region of regionList" [value]="region._id">{{region.name}}</option>  
                    </select>
                    <div>
                        <span class="help-block ng-invalid text-danger" *ngIf="(f.regionId.touched && f.regionId.pristine) || (f.regionId.errors && submitted)">
                            <span class="small" *ngIf="f.regionId.errors.required">
                                Region Id is required!
                            </span>
                        </span>
                    </div>    
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-4 w-100">Submit</button>
          </form>
    </div>
    <div class="es-modal-footer"></div>
</div>
