/* You can add global styles to this file, and also import other style files */
@import './assets/scss/onboarding';
@import './assets/scss/fonts';
@import './assets/scss/authCommon';
@import './assets/scss/cursorstyling';
@import './assets/scss/modules';

:root{
    --dark-background: #000000;
    --dark-background-v1: #1E1F23;
    --dark-background-v2: #27292D;
    --dark-text-white-v1: #fff;
    --dark-text-white-v2: #959595;
    --dark-text-white-v3: #8D8D8D;
    --dark-text-white-v4: #707070;
    --dark-theme-blue-v1: #1DA1F1;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}