/* You can add global styles to this file, and also import other style files */
@import './assets/scss/onboarding';
@import './assets/scss/fonts';
@import './assets/scss/authCommon';
@import './assets/scss/cursorstyling';
@import './assets/scss/modules';
@import './assets/scss/dialog';
@import './assets/scss/navbar';
@import './assets/scss/tooltip';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/scss/pagination';

*{
    scrollbar-width: thin !important;
}

:root{
 /*  
    --dark-background: #fff;
    // --dark-background-v1: #F5F6F9;              // --main-background-color
    // --dark-background-v2: #E9EAF0;              // --navbar-ele-bg-color
    --dark-background-v3: #D9D9D9;
    // --dark-text-white-v1: #25282B;              // --font-color
    --dark-text-white-v2: #797979;
    --dark-text-white-v3: #959595;
    --dark-text-white-v4: rgba(79, 79, 79, 0.72);
    --dark-text-white-v5: rgba(0, 0, 0);
    --dark-text-white-v6:rgba(0, 0, 0, 0.72);
    // --dark-theme-blue-v1: #6365EF;              // --add-button-bg-color
    --dark-right-border: rgb(69, 69, 69, 0.48);
    --dark-sidebar-border-radius: 10px;
    --dark-table-background: #ffffff;
    // --dark-primary-background: rgba(62, 223, 136, 0.56);
    --dark-primary-background: #59D956;
    --dark-primary-border: #CAFBE0;
    --dark-info-background: #C8C8F4;
    --dark-info-border: #DFE0FF;
    --dark-danger-background: #FEE4E2;
    --dark-danger-border: #FEF3F2;
    --dark-secondary-btn-background: var(--dark-background);
    --dark-secondary-btn-border: 1px;
    --dark-danger-secondary-btn-background: var(--dark-background);
    --dark-modal-input-border: rgba(99, 101, 239, 0.48);
    --dark-modal-sub-header: #0B0B0B;
    --dark-info-modal-border-bottom: #EBEBEB;
    --dark-multi-color-border: rgba(218, 218, 218, 1);
    --dark-dropdown: #fff;
    --dark-dropdown-shadow: #fff;
    --report-graph: #FFFFFF;
    --dropdown-shadow: 0px 4px 8px #D8DAFF;
    --search-placeholder-text: rgba(0,0,0,72%);
    --horizontal-line-color: #EBEBEB;
    --sidebar-link-text-size: 0.75rem;
    --active-link-background-color: rgba(99, 101, 239, 0.17);
    --heading-text-size: 1.625rem;
    // --box-shadow-size-color: 0 0 6px rgba(0, 0, 0, 0.4);
    --box-shadow-size-color: 0px 4px 8px #D8DAFF;
    --dropdown-filter: #1f1f1f;
    --dropdown-text-white: #fff;
    --sidebar-table-background: #fff;
    --section-head-text-color: #473BAA;
    --upload-border: rgba(99, 101, 239, 0.3);
    --file-icon-border: #D1D1FB;
    --table-data-text-color: rgba(0, 0, 0, 0.53);
    --email-hover-background-color: #F4F3F3;
    --inactive-text-color: rgba(71, 84, 103, 0.5); 
*/
    /* Whitelabel Variables*/
 /*   --main-background-color: #F5F6F9;
    --font-color: #25282B;
    --sidebar-font-color: #1C1C1C;
    --card-background-color: #FFFFFF;
    --navbar-ele-bg-color: #E9EAF0;
    --add-button-bg-color: #6365EF;
    --add-button-hover-bg-color: #585ABA;
    --info-button-bg-color: #428EFF;
    --info-label-text-color: #475467;
    
    --font-family-sf-pro-display: 'SF Pro Display';
    --font-family-inter: 'Inter';
    --pagination-font-color: #fff;

    .icon {
        path, circle {
            fill: var(--search-placeholder-text);
        }
    }
    
    .info-default {
        path {
            fill: var(--info-button-bg-color);
            opacity: 0.55;
        }
    }
    ::ng-deep .mat-icon-button > svg {
        // path {
            fill: red !important;
        // }
    }
    
    // .btn-outline-custom {
    //     color: #000 !important;
    // }
    
    .user-dashboard-table-container {
        color: var(--dark-text-white-v6);
        background: var(--card-background-color);
        box-shadow: var(--box-shadow-size-color);
    }

    .search-form .form-control, .nav-item.dropdown .dropdown-toggle, .switch, .btn-dashboard-head {
        box-shadow: none;
    }

    // .form-control {
    //     border-color: var(--dark-right-border) !important;
    // }

    input[type="date"] {
        &::-webkit-calendar-picker-indicator {
            background: url(/assets/icons/down-caret-black.svg) no-repeat;
        }
    }
*/
    /* FONTS */
    --font-family-sf-pro-display: 'SF Pro Display';
    --font-family-inter: 'Inter';

    /* COLORS */
    --main-background-color: #F6F7FF;
    --card-background-color: #FFFFFF;
    --box-shadow-size-color: 0px 4px 8px #D8DAFF;
    --sidebar-link-color: #1C1C1C;
    --navbar-ele-bg-color: #E9EAF0;
    --navbar-ele-hover-bg-color: #D9D9D9;
    --hover-bg-color: #D9D9D9; 
    --search-placeholder-text-icon-color: rgba(0, 0, 0, 0.72);
    --navbar-username-text-color: rgba(0, 0, 0, 0.83);
    --main-heading-text-color: #000000;
    --dark-right-border: rgb(69, 69, 69, 0.48);
    --add-button-bg-color: #6365EF;
    --graph-heading-text-color: #04103B;
    --dropdown-filter: #1F1F1F;
    --dropdown-text: #FFFFFF;
    --add-button-hover-bg-color: #585ABA;
    --pagination-font-color: #FFFFFF;
    --modal-cross-icon-color: #667085;
    --active-link-background-color: rgba(99, 101, 239, 0.17);
    --info-button-bg-color: #428EFF;
    --upload-border: rgba(99, 101, 239, 0.3);
    --file-icon-border: #D1D1FB;
    --dark-multi-color-border: rgba(218, 218, 218, 1);
    --calendar-start-select-bg-color: rgba(99, 101, 239, 0.6);
    --calendar-select-color: #6365EF;
    --calendar-range-date-bg-color: rgba(99, 101, 239, 0.1);
    --dropdown-hover-bg-color: var(--active-link-background-color);
    --widget-svg-color: #04103B;
    --plan-status-hover-bg-color: #FFFFFF;
    --active-status-text-color: #43BE83;
    --inactive-status-text-color: #EC5837;
    --calendar-value-text-color: #6365EF;
    --calendar-other-date-text-color:#8B8B8B;
    --selected-value-background-color: rgba(105, 112, 241, 0.1);
    --input-text-color: #000000;
    --settings-card-heading-text-color: #473BAA;
    --loyalty-card-heading-text-color: #473BAA;
    --loyalty-card-sub-heading-text-color: #000;
    --loyalty-card-input-field-color: #FFFFFF !important;
    --settings-helping-text-color: #000000;
    --radio-label-text-color: #000000;
    --bottom-border-color: #A8A9FD;

    /* SWITCH */
    --dark-primary-background: #59D956;
    --dark-text-white-v2: #797979;
    --settings-slider-bg-color: #B4B4B4;
    --settings-slider-circle-bg-color: #FFF;

    /* SIZES */
    --sidebar-text-size: 0.875rem;
    --heading-text-size: 1.625rem;
    --modal-header-text-size: 1.125rem;

    /* TABLE TEXT COLORS */
    --table-heading-text-color: #000000;
    --table-text-hover-active-color: #000000;
    --table-text-color: rgba(0, 0, 0, 0.55);
    --show-entries-text-color: rgba(0, 0, 0, 0.5);
    --action-background-color: rgba(217, 217, 217, 0.47);
    --widget-helper-text-color: #04103B;
    --plan-info-text-color: #475467;
    --svg-color: #495058;

    /* MODAL TEXT COLORS */
    --modal-header-text-color: #000000;
    --modal-form-label-text-color: #000000;
    --modal-sub-header-text-color: #475467;
    --input-border-color: #D0D5DD;
    --input-border-color-hover: rgba(99, 101, 239, 0.48);
    --cancel-button-border-color: #D0D5DD;
    --horizontal-line-color: #EBEBEB;
    --email-hover-background-color: #F4F3F3;
    --cancel-button-background-color: #FFFFFF;
    --pagination-button-background-color: #FFFFFF;
    --info-label-text-color: #475467;
    --info-details-text-color: #000000;
    --delete-button-bg-color: #D92D20;
    --subscription-modal-helper-text-color: #475467;
    --subscription-data-text-color: #475467;

    --ng-select-value-bg-color: #F7F7F7;
    --ng-option-selected-bg-color: rgba(105, 112, 241, 0.10);
    --settings-sub-text-color: rgba(0, 0, 0, 0.50);
    --ng-placeholder-color: #667085;
    --ng-select-list-item-color: rgba(31, 29, 29, 0.76);
    --checked-mark-color: #FFFFFF;

    /*table border*/
    --table-row-seperator-color:rgba(99, 102, 104, 0.2);

    /*upload inventry*/
    --upload-inventory-border: rgba(99, 101, 239, 0.37);

    /*child menu*/
    --child-route-bg-color:rgba(0, 0, 0, 0.05);

    /*status filter*/
    --status-filter-bg: #FFF;
    --status-filter-box-shadow: #D8DAFF;
    --status-filter-border:#D3CBFB;
    --status-dropdown-bg-color:#FFF;
    --status-dropdown-box-shadow: #D8DAFF;

    /*download-sample-fill*/
    --download-sample-icon-fill:#1C1B1F;

    /*support link circle*/
    --support-link-circle: #E9EAF0;

    /*copy-symbol-fill*/
    --copy-icon-fill: black;


    /* SVG Color Change */
    .revenue-icon {
        circle {
            fill: var(--add-button-bg-color);
        }
    }

    .icon {
        path, circle {
            fill: var(--search-placeholder-text-icon-color);
        }
    }
    .info-default {
        path {
            fill: var(--info-button-bg-color);
            opacity: 0.55;
        }
    }    

    .user-dashboard-table-container {
        background: var(--card-background-color);
        box-shadow: var(--box-shadow-size-color);
    }

    .search-form .form-control, .nav-item.dropdown .dropdown-toggle, .switch, .btn-dashboard-head {
        box-shadow: none;
    }

    input[type="date"] {
        &::-webkit-calendar-picker-indicator {
            background: url(/assets/icons/down-caret-black.svg) no-repeat;
        }
    }

    .mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
        color: var(--calendar-other-date-text-color);
    }
}

.darkMode{
 /*   
    --dark-background: #151616;
    // --dark-background-v1: #151616;              // --main-background-color
    // --dark-background-v2: #1C1C1E;              // --navbar-ele-bg-color
    --dark-background-v3: #181B21;
    // --dark-text-white-v1: #fff;                 // --font-color
    --dark-text-white-v2: #959595;
    --dark-text-white-v3: #8D8D8D;
    --dark-text-white-v4: rgba(233, 233, 233, 0.51);
    --dark-text-white-v5: rgba(255, 255, 255);
    --dark-text-white-v6:rgba(255, 255, 255, 0.72);
    // --dark-theme-blue-v1: #6365EF;              // --add-button-bg-color
    --dark-right-border: rgb(69, 69, 69, 0.48);
    --dark-sidebar-border-radius: 10px;
    --dark-table-background: #1D1F25;
    // --dark-primary-background: #3AEE8D;
    --dark-primary-background: #59D956;
    --dark-primary-border: #209153;
    --dark-info-background: #C8C8F4;
    --dark-info-border: #8283FF;
    --dark-danger-background: #FFC5C1;
    --dark-danger-border: #9E7370;
    --dark-secondary-btn-background: rgba(238, 238, 238, 0.13);
    --dark-secondary-btn-border: 0;
    --dark-danger-secondary-btn-background: rgba(255, 137, 137, 0.63);
    --dark-modal-input-border: rgb(69, 69, 69, 0.48);
    --dark-modal-sub-header: #CACCCE;
    --dark-info-modal-border-bottom: rgba(235, 235, 235, 0.08);
    --dark-font-family: var(--bs-body-font-family);
    --dark-multi-color-border: rgba(24, 24, 24, 1);
    --dark-dropdown: #1C1C1E;
    --dark-dropdown-shadow: #000;
    --report-graph: #1D1F25;
    --dropdown-shadow: unset;
    --search-placeholder-text: rgba(255,255,255,72%);
    --horizontal-line-color:rgba(135, 118, 118, 0.13);
    --sidebar-link-text-size: 0.75rem;
    --active-link-background-color: rgba(99, 101, 239, 0.17);
    --heading-text-size: 1.625rem;
    --box-shadow-size-color: 0px 2px 2px rgba(36, 39, 44, 0.49);
    --dropdown-filter: #6365EF;
    --dropdown-text-white: #fff;
    --sidebar-table-background: #1C1C1E;
    --section-head-text-color: #9F94FF;
    --min-font-size: 1rem;
    --upload-border: rgba(183, 184, 253, 0.13);
    --file-icon-border: var(--upload-border);
    --table-data-text-color: rgba(255, 255, 255, 0.53);
    --email-hover-background-color: #393737;
    --inactive-text-color: #475467;
*/
    /* Whitelabel Variables*/
/*    --main-background-color: #0D0E0E;
    --font-color: #fff;
    --card-background-color: #151616;
    --navbar-ele-bg-color: #24272c;
    --add-button-bg-color: #6365EF;
    --add-button-hover-bg-color: #585ABA;
    --info-button-bg-color: #428EFF;
    --info-label-text-color: #AAAEB6;
    --pagination-font-color: #25282B;
*/

    /* COLORS */
    --main-background-color: #0D0E0E;
    --card-background-color: #151616;
    --box-shadow-size-color: 0px 2px 2px rgba(36, 39, 44, 0.49);
    --sidebar-link-color: #FFFFFF;
    --navbar-ele-bg-color: #24272C;
    --navbar-ele-hover-bg-color: #24272c;
    --hover-bg-color: #0D0E0E; 
    --search-placeholder-text-icon-color: rgba(255, 255, 255, 0.72);
    --navbar-username-text-color: rgba(255, 255, 255, 0.83);
    --main-heading-text-color: #FFFFFF;
    --dark-right-border: rgb(69, 69, 69, 0.48);
    --add-button-bg-color: #6365EF;
    --graph-heading-text-color: #FFFFFF;
    --dropdown-filter: #6365EF;
    --dropdown-text: #FFFFFF;
    --add-button-hover-bg-color: #585ABA;
    --pagination-font-color: #FFFFFF;
    --modal-cross-icon-color: #667085;
    --active-link-background-color: rgba(99, 101, 239, 0.17);
    --upload-border: rgba(183, 184, 253, 0.13);
    --file-icon-border: var(--upload-border);
    --info-button-bg-color: #FFFFFF;
    --dark-multi-color-border: rgba(24, 24, 24, 1);
    --dropdown-hover-bg-color: var(--main-background-color);
    --widget-svg-color: #9A9BF6;
    --plan-status-hover-bg-color: #FFFFFF;
    --calendar-value-text-color: #AEAFFF;
    --calendar-other-date-text-color:#2C2C2C;
    --selected-value-background-color: rgba(105, 112, 241, 0.1);
    --input-text-color: #FFFFFF;
    --settings-card-heading-text-color: var(--table-heading-text-color);
    --loyalty-card-heading-text-color: var(--table-heading-text-color);
    --loyalty-card-sub-heading-text-color: rgba(255, 255, 255, 0.50);
    --loyalty-card-input-field-color: transparent;
    --settings-helping-text-color: var(--table-text-color);
    --radio-label-text-color: #8B8B8B;
    --bottom-border-color: #A8A9FD;

    /* SWITCH */
    --settings-slider-bg-color: #B4B4B4;
    --settings-slider-circle-bg-color: #FFF;

    /* SIZES */
    --sidebar-text-size: 0.875rem;
    --heading-text-size: 1.625rem;
    --modal-header-text-size: 1.125rem;

    /* TABLE TEXT COLORS */
    --table-heading-text-color: #FFFFFF;
    --table-text-hover-active-color: #FFFFFF;
    --table-text-color: rgba(255, 255, 255, 0.55);
    --show-entries-text-color: rgba(255, 255, 255, 0.5);
    --action-background-color: #181B21;
    --widget-helper-text-color: #C1C1C1;
    --plan-info-text-color: #AAAEB6;
    --svg-color: #FFFFFF;

    /* MODAL TEXT COLORS */
    --modal-header-text-color: #FFFFFF;
    --modal-form-label-text-color: #FFFFFF;
    --modal-sub-header-text-color: #8B8B8B;
    --input-border-color: rgb(105, 105, 105, 0.5);
    --input-border-color-hover: rgba(99, 101, 239, 0.48);
    --cancel-button-border-color: #1E1E1E;
    --horizontal-line-color: rgba(235, 235, 235, 0.08);
    --email-hover-background-color: #393737;
    --cancel-button-background-color: #1E1E1E;
    --pagination-button-background-color: rgba(0,0,0,0.1);
    --info-label-text-color: #EAEAEA;
    --info-details-text-color: #FFFFFF;
    --subscription-modal-helper-text-color: #FFFFFF;
    --subscription-data-text-color: #8B8B8B;

    --ng-select-value-bg-color: #1E1E1E;
    --ng-option-selected-bg-color: rgba(99, 101, 239, 0.10);
    --settings-sub-text-color: rgba(255, 255, 255, 0.50);
    --ng-placeholder-color: #FFFFFF;
    --ng-select-list-item-color: rgba(255, 255, 255, 0.50);
    --checked-mark-color: #000000;

    /*table border*/
    --table-row-seperator-color:rgba(99, 102, 104, 0.2);

    /*upload inventry*/
    --upload-inventory-border: rgba(183, 184, 253, 0.37);

    /*child menu*/
    --child-route-bg-color:rgba(255, 255, 255, 0.05);

    /*status filter*/
    --status-filter-bg:rgba(255, 255, 255, 0.10);
    --status-filter-box-shadow: rgba(0, 0, 0, 0.20);
    --status-filter-border:#D3CBFB;
    --status-dropdown-bg-color:#2C2D2D;
    --status-dropdown-box-shadow: rgba(0, 0, 0, 0.20);

    /*download-sample-fill*/
    --download-sample-icon-fill:#949494;

     /*support link circle*/
    --support-link-circle: #24272C;

    /*copy-symbol-fill*/
    --copy-icon-fill: white;

    
    /* SWITCH */
    --dark-primary-background: #59D956;
    --dark-text-white-v2: #959595;



    /* SVG Color Change */
    .search-icon-div {
        path {
            fill: var(--search-placeholder-text-icon-color) !important;
        }
    }

    .info-default {
        path {
            fill: var(--info-button-bg-color);
            opacity: 1;
        }
    }   

    .revenue-icon {
        circle {
            fill: var(--add-button-bg-color);
        }
    }

    .user-management {
        .copy-div:hover {
            path {
                fill: #FFFFFF;
            }
        }
    }

    .add-user-icon {
        .rect1 {
            fill: #33A85B;
        }
        .rect2 {
            stroke: #1F6644;
        }
    }
    
    .confirmation-icon {
        .rect1 {
            fill: #FFD6D3;
        }
        .rect2 {
            stroke: #FF6D63;
        }
    }

    .down-arrow {
        path {
            fill: #FFFFFF;
        }
    }

    .container-ng-select {
        .default path {
            stroke: #FFFFFF;
        }
    }

    .user-dashboard-table-container {
        color: var(--font-color);
    }

    .search-form .form-control, .nav-item.dropdown .dropdown-toggle, .switch, .btn-dashboard-head, .user-dashboard-table-container {
        box-shadow: var(--box-shadow-size-color);
    }

    .dashboard-head-flex {
        // margin-bottom: 24px !important;
    }

    .es-select{
        background-image: url(assets/icons/select-arrow-dark.svg) !important;
    }

    .ng-tooltip{
        &-light {
            background: #0D0C0F !important;
            color: #FFFFFF !important; 
        }
    }

    input[type="date"] {
        &::-webkit-calendar-picker-indicator {
            background: url(/assets/icons/down-caret-white.svg) no-repeat;
        }
    }

    .mat-datepicker-content .mat-calendar {
        width: 296px;
        height: 354px;
        background: var(--card-background-color);
        color: var(--table-heading-text-color);
    }

    .mat-calendar-table-header, 
    .mat-calendar-body-label, 
    .mat-calendar-body-cell-content.mat-focus-indicator, 
    .mat-calendar-previous-button::after, 
    .mat-calendar-next-button::after, .mat-date-range-input-separator, .mat-datepicker-toggle-default-icon {
        color: var(--table-heading-text-color);
    }
    
    .mat-calendar-arrow polygon {
        fill: var(--table-heading-text-color);
    }

    .mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
        color: var(--calendar-other-date-text-color);
    }

    .showMenu .sub-menu {
        border-left: 2px solid rgba(255, 255, 255, 0.14) !important;
    }
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    
    .modal-lg {
        --bs-modal-width: 591px;        // for subscription and plan add/edit modals
    }

    .modal-md{
        --bs-modal-width: 419px;        // for subscription info modals
    }
    
    .modal-sm{
        --bs-modal-width: 400px;        // for customer add/edit, plan info, subscriber info modals
    }
}

::-webkit-scrollbar {
    // background-color:#fff;
    width:5px;
    height: 5px;
}
/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    // background-color:#fff
}
::-webkit-scrollbar-track:hover {
    // background-color:#f4f4f4
}
/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:darkgray;
    border-radius:16px;
    // border:5px solid #fff
}
::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    // border:4px solid #f4f4f4
}

::-webkit-date-edit-year-field:not([aria-valuenow]),
::-webkit-date-edit-month-field:not([aria-valuenow]),
::-webkit-date-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}
