/* You can add global styles to this file, and also import other style files */
@import './assets/scss/onboarding';
@import './assets/scss/fonts';
@import './assets/scss/authCommon';
@import './assets/scss/cursorstyling';
@import './assets/scss/modules';
@import './assets/scss/dialog';
@import './assets/scss/navbar';
@import "~@ng-select/ng-select/themes/default.theme.css";
:root{
    --dark-background: #151616;
    --dark-background-v1: #151616;
    --dark-background-v2: #24272C;
    --dark-text-white-v1: #fff;
    --dark-text-white-v2: #959595;
    --dark-text-white-v3: #8D8D8D;
    --dark-text-white-v4: #707070;
    --dark-text-white-v5: #333333;
    --dark-theme-blue-v1: #1DA1F1;
    --dark-right-border: rgba(255, 255, 255, 0.1);
    --dark-sidebar-border-radius: 0;
}

.lightMode{
    --dark-background: #fff;
    --dark-background-v1: #F5F6F9;
    --dark-background-v2: #E9EAF0;
    --dark-text-white-v1: #000;
    --dark-text-white-v2: #797979;
    --dark-text-white-v3: #959595;
    --dark-text-white-v4: #5D5D5D;
    --dark-text-white-v5: #959595;
    --dark-theme-blue-v1: #1DA1F1;
    --dark-right-border: rgba(0, 0, 0, 0.1);
    --dark-sidebar-border-radius: 10px;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}