<div class="auth-parent-section dark-content">
    <div class="auth-main-body">
        <div class="row">
            <div class="col-lg-5 pe-0">
                <div class="auth-left-section">
                    <div class="d-flex align-items-center">
                        <h1 class="welcome-heading mb-0">Welcome to</h1>
                        <span class="ms-3 logo-span">
                            <img class="img-fluid" src="/assets/images/auth/anuyat-logo.png" alt="">
                        </span>
                    </div>
                    <div class="mt-5">
                        <p class="signin-text mb-0">Sign In</p>
                        <form class="signin-form-parent" [formGroup]="signinForm" novalidate (ngSubmit)="submit()">
                            <div class="form-inner-div">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@mail.com" formControlName="email">
                                <div>
                                    <p class="text-danger text-center" *ngIf="err">The username or password you have entered is incorrect.</p>
                                    <span class="help-block ng-invalid text-danger" *ngIf="(!f.email.valid && !f.email.pristine) || (f.email.errors && submitted)">
                                        <span class="small" *ngIf="f.email.errors.required">
                                            Email is required!
                                        </span>
                                    </span>
                                    <span class="help-block ng-invalid text-danger" *ngIf="f.email.errors && submitted">
                                        <span class="small" *ngIf="f.email.errors.email">
                                            Enter valid email!
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-inner-div">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="**************" formControlName="password">
                                    <p class="help-block ng-invalid text-danger mb-0" *ngIf="(!f.password.valid && !f.password.pristine) || (f.password.errors && submitted)">
                                        <span class="small" *ngIf="f.password.errors.required">
                                            Password is required!
                                        </span>
                                    </p>
                                    <p class="reset-pass-text">
                                        <a href="" routerLink="/reset-password" class="pe-none" aria-disabled="true">Reset Password</a>
                                    </p>
                                </div>
                            </div>
                            <button type="submit" class="btn auth-btn common-btn">Sign In</button>
                        </form>
                    </div>
                    <p class="privacy-policy-text">
                        <a href="" class="pe-none" aria-disabled="true">Privacy Policy</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7 ps-0">
                <div class="auth-right-section">
                    <p class="auth-right-text">Connecting the world with<br> Remote SIM Provisioning<br> Platform</p>

                    <div class="text-end autn-img-div">
                        <img class="img-fluid" src="/assets/images/auth/auth-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
