.sign-in-vedio-container{
    border: 16px solid #000;
    border-radius: 30px;
    margin-top: 9rem;
    width: 1182px;
    height: 767px;
    z-index: 2;
    position: relative;
    video{
        border-radius: 15px;
    }
}