<div class="main">
    <div class="navbar-main">
        <app-navbar></app-navbar>
    </div>
    <div class="main-base-container">
        <div class="sidebar-main">
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, libero dolor soluta atque pariatur voluptatibus ipsam quam impedit officia ducimus cum eos explicabo enim vero aspernatur numquam dolores illo sit?</p>
            </div>
        </div>
        <div class="dashboard-main">
            
        </div>
    </div>
</div>
