.phone-number-from-control{
    border-radius: 8px;
    border: 1px solid var(--input-border-color);
    .country-selection{
      padding-right: 0;
      width: 20%;
      button{
        padding: 0;
        height: auto;
        width: 100%;
        padding-right: 10px;
        border-radius: 0;
        border-right: 1px solid var(--input-border-color);
        background-color: transparent;
        color: var(--table-heading-text-color);
      }
    }
    .form-control{
      border: none;
      background-color: transparent;
    }
    .dropdown-menu{
        padding: 10px;
        .country-search-box{
            .search-icon-div {
                position: absolute;
                left: 20px;
                margin-top: 4px;
            }
            .search-form-input {
                background-color: transparent !important;
                padding-left: 36px;
                border: 1px solid var(--input-border-color);
                height: 36px;
                border-radius: 12px;
                margin-bottom: 0.5rem;
            }
        }
    }
  }